{{! Page footer }}
<footer class="color-row">
    <div class="container text-center padding-small">
        <p class="h4 animated" data-fx="fadeInUp">Marcello <span class="light">Palmitessa</span></p>

        <div class="social-unit animated" data-fx="pulse">
            <div class="container text-center">
                <div class="social">
                    <ul>
                        <li>
                            <a href="http://www.twitter.com/marcellopalmit">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                     title="Twitter">
                                    <p><i class="fa fa-twitter"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="http://it.linkedin.com/in/marcellopalmitessa">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                     title="LinkedIn">
                                    <p><i class="fa fa-linkedin-square"></i></p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/+MarcelloPalmitessa">
                                <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Google+">
                                    <p><i class="fa fa-google-plus"></i></p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copy">Copyright © 2014 Marcello Palmitessa</p>
    </div>
</footer>