<header id="MainHeader" class="main-header-with-slider">
    <div class="fullscreen-flexslider fs-with-menu-bottom">
        <ul class="slides">
            {{! SLIDES GO HERE }}
            <li>
                <img src="/assets/images/content/full-slider1.jpg" alt="preview">
                <div class="caption text-center">
                    <span><strong>SUPERB</strong> DESIGN</span>
                </div>
            </li>
            <li>
                <img src="/assets/images/content/full-slider2.jpg" alt="preview">
                <div class="caption text-center">
                    <span><strong>PERFECT</strong> PIXELS</span>
                </div>
            </li>
            <li>
                <img src="/assets/images/content/full-slider3.jpg" alt="preview">
                <div class="caption text-center">
                    <span><strong>BECAUSE</strong> WE CAN</span>
                </div>
            </li>
        </ul>
        <ul class="flex-control-nav">
            {{! THERE NEEDS TO BE A NUMBER OF LI EQUAL TO THE NUMBER OF SLIDES ABOVE!!! }}
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
        </ul>
    </div>
</header>