@keyframes menuEnterTransition {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}



/* whatido item description clip-path animations */
@keyframes whatido1 {
  0% {
    clip-path: polygon(3.33% -0.48%, 97.02% -0.47%, 100% 50%, 94.74% 100%, 63.51% 92.38%, 30% 100%, 3.51% 95.71%, 0% 50%);
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0% 50%);
  }
}

@keyframes whatido2 {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 96.14% 69.04%, 99.48% 99.53%, 81.05% 92.38%, 36.49% 100.00%, 1.75% 91.9%, 3.16% 49.52%)
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0% 50%);
  }
}


// for typography animation

.splitting {
  position: relative;
  display: block;
  overflow: hidden;
}

.word {
  display: inline-block;
}

.char {
  position: relative;
  display: inline-block;
  will-change: transform;
}




// initial position
.hero {
  h1 .word,
  h2 .word {
    transform: scale(0) skewX(30deg);
  }

  .diamond {
    transform: scale(0);
  }

  .line-left,
  .line-right {
    transform: scaleX(0);
  }
}


@keyframes breathe {
  0% {
    font-variation-settings: 'wght' var(--text-weight-max), 'wdth' 80;
  }
  60% {
    font-variation-settings: 'wght' var(--text-weight-min), 'wdth' 110;

  }
  100% {
    font-variation-settings: 'wght' var(--text-weight-max), 'wdth' 80;
  }
}
