// SMACSS Base Rules
// ----------------------------
// Base styles include setting heading sizes, default link styles, default
// font styles, and body backgrounds.
// There should be no need to use !important in a Base style.
// ==========================================================================

// Set box-sizing globally to handle padding and border widths
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html, body, main, #root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 112.5%;
  scroll-behavior: smooth;

  // Use smooth scrolling for anchor links—but not if the reduce motion accessibility preference is enabled
  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}


body,
div,
a,
p,
th,
td,
ul,
li,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button {
  --text-weight: var(--body-font-weight);
  font-family: var(--body-font-family);

  @supports (font-variation-settings: normal) {
    font-family: var(--variable-font-family);
    font-variation-settings: 'wght' var(--text-weight);
  }
}

// Default body styles
body {
  position: relative;
  //max-width: $sectionMaxWidth;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: var(--body-background);
  color: var(--body-font-color);
  transition: background-color .5s ease, color .5s ease;

  font-optical-sizing: auto;
  font-variation-settings: "slnt" 0, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
  font-size: var(--text-base-size);
  line-height: var(--baseline);
  font-weight: var(--text-weight);
  font-style: normal;
  letter-spacing: var(--text-letter-spacing);
  font-kerning: var(--kerning);

  @supports (font-variation-settings: normal) {
    font-family: var(--variable-font-family);
    // this settings depends on th vf selected
    font-variation-settings: 'wght' var(--text-weight);
    /* ,
       'wdth' var(--text-width),
       'opsz' var(--text-opticalsize); */
  }

  //@if $render-vertical-rhythm-lines {
  //  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  //  background-position: left top;
  //  background-repeat: repeat;
  //  background-size: 100% vr(1);
  //}

  & {
    // > don't use font-smoothing for light text on dark background!!
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

/* Generic header styles */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: calc(2 * var(--text-base-size)) 0 calc(1 * var(--text-base-size)) 0;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  transition: all linear 0.2s;
  --text-weight: var(--heading-weight);
  color: inherit;
  @include ligature;

  //@supports (font-variation-settings: normal) {
  //  font-family: var(--variable-heading-font-family);
  //  // this settings depends on th vf selected
  //  font-variation-settings: 'wght' var(--heading-weight);
  //  /* ,
  //     'wdth' var(--text-width),
  //     'opsz' var(--text-opticalsize); */
  //}
}


h1 {
  //margin: calc(2 * var(--text-base-size)) 0 calc(3 * var(--text-base-size)) 0;
  max-width: 50rem;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
}

h2 {
  //margin: calc(1 * var(--text-base-size)) 0 calc(3 * var(--text-base-size)) 0;
  //max-width: var(--text-max-width);
  font-size: 11rem;
  line-height: 1.5;
}

h3 {
  //margin: calc(1 * var(--text-base-size)) 0 calc(2 * var(--text-base-size)) 0;
  //max-width: var(--text-max-width);
  text-align: left;
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
}


.italic,
i,
em {

}

b,
strong {
  --text-weight: 600;
}


/* Paragraph style
  ============== */
p {
  margin: 0 0 calc(1.5 * var(--text-base-size)) 0;
  //max-width: var(--text-max-width);
  transition: all linear 0.2s;
  //hyphens: auto;
  hanging-punctuation: first;
}


/* First-line styles */
p.initial:first-of-type::first-line {
  --text-weight: calc(var(--p-vf-weight) * 1.25);

  @media (min-width: 48em) {
    --text-weight: calc(var(--p-vf-weight) * 1.25);
  }
}


/* Link style
  ============== */

// We qualify elements with the :not pseudo class because if you have a link that’s supposed
// to look like a button that has a .button class on it, you don’t want global link styling
// to get in the way of the styling that .button generates,
// https://piccalil.li/tutorial/improve-the-readability-of-the-content-on-your-website
a:not([class]) {
  transition: all 0.3s ease;

  &:visited,
  &:link {
    color: var(--color-primary);
    text-decoration: underline;
    text-decoration-color: var(--color-pantone);
    text-decoration-thickness: 0.2rem;
  }

  &:hover {
    //text-decoration-thickness: 0.5rem;
    color: var(--color-white);
    background-color: var(--color-pantone);;
  }

  > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
}


/**
 * Turn off margins on nested lists.
 */
ul {
  margin-left: auto;
  margin-right: auto;
  //max-width: var(--text-max-width);
  //
  //@media (min-width: 48em) and (max-width: 64em) {
  //  max-width: calc(38.5 * var(--text-base-size));
  //}
  //@media (min-width: 64em) {
  //  max-width: calc(42 * var(--text-base-size));
  //}
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

blockquote {
  margin: calc(.5 * var(--text-base-size)) 5% calc(1 * var(--text-base-size)) calc(.5 * var(--text-base-size));
  transition: all linear 0.2s;
  padding-left: 1rem;
  border-left: .5rem solid var(--color-pantone);

  &.right {
    float: right;
    margin-left: calc(.5 * var(--text-base-size));
    margin-right: 5%;
  }

  &.left {
    float: left;
    margin-left: 5%;
    margin-right: calc(.5 * var(--text-base-size));
  }

  p {
    --text-weight: calc(var(--text-weight) * .65);
    font-size: var(--text-scale-1); // 2.5vw;
    line-height: var(--bq-line-height);
    margin: 0 0 .25em 0;
    position: relative;
  }

  cite {
    display: block;
    font-size: 3.5vw;
    text-align: right;

    &:before {
      content: "—";
    }
  }
}

