

.scroll-down-button {
  @include icon-button;
}

//.button {
//  position: relative;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 1.888rem;
//  padding: 10px 1rem;
//  border: 0;
//  border-radius: $global-radius;
//  background-color: var(--color-primary);
//  transition: all .2s ease-out;
//  font-family: $body-font-family;
//
//  @if $use-variable-font {
//    @supports (font-variation-settings: normal) {
//      font-family: $variable-font-family;
//    }
//  }
//
//  font-size: 1rem;
//  line-height: 1;
//  font-weight: 700;
//  letter-spacing: normal;
//  color: var(--color-white);
//  text-transform: none;
//  box-shadow: $default-box-shadow;
//
//  &:hover,
//  &:focus,
//  &:active {
//    background-color: var(--color-primary);
//    color: var(--color-black);
//  }
//}
//
