@font-face {
  font-family: "TypeMaestro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/TypeMaestro/font.woff2') format('woff2'),
  url('/fonts/TypeMaestro/font.woff') format('woff');
}

//@font-face {
//  font-family: 'Inter';
//  font-style: normal;
//  font-weight: 400;
//  font-display: swap;
//  src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2");
//}
//
//@font-face {
//  font-family: 'Inter var';
//  font-weight: 100 900;
//  font-display: swap;
//  font-style: normal;
//  font-named-instance: 'Regular';
//  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
//}

@font-face {
  font-display: swap;
  src: url("/fonts/RobotoFlex.ttf");
  font-family: "Roboto Flex";
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: oblique -10deg 0deg;
}


//.Black {
//  font-family: "Roboto Flex";
//  font-weight: 900.0;
//  font-stretch: 100.0%;
//  font-style: normal;
//  font-variation-settings: "opsz" 14.0, "wght" 900.0, "GRAD" 0.0, "wdth" 100.0, "slnt" 0.0, "XOPQ" 96.0, "YOPQ" 79.0, "XTRA" 468.0, "YTUC" 712.0, "YTLC" 514.0, "YTAS" 750.0, "YTDE" -203.0, "YTFI" 738.0;
//}
//
//.Black-Italic {
//  font-family: "Roboto Flex";
//  font-weight: 900.0;
//  font-stretch: 100.0%;
//  font-style: italic;
//  font-variation-settings: "opsz" 14.0, "wght" 900.0, "GRAD" 0.0, "wdth" 100.0, "slnt" -10.0, "XOPQ" 96.0, "YOPQ" 79.0, "XTRA" 468.0, "YTUC" 712.0, "YTLC" 514.0, "YTAS" 750.0, "YTDE" -203.0, "YTFI" 738.0;
//}
//
//.ExtraBlack {
//  font-family: "Roboto Flex";
//  font-weight: 1000.0;
//  font-stretch: 100.0%;
//  font-style: normal;
//  font-variation-settings: "opsz" 14.0, "wght" 1000.0, "GRAD" 0.0, "wdth" 100.0, "slnt" 0.0, "XOPQ" 96.0, "YOPQ" 79.0, "XTRA" 468.0, "YTUC" 712.0, "YTLC" 514.0, "YTAS" 750.0, "YTDE" -203.0, "YTFI" 738.0;
//}
//
//.ExtraBlack-Italic {
//  font-family: "Roboto Flex";
//  font-weight: 1000.0;
//  font-stretch: 100.0%;
//  font-style: italic;
//  font-variation-settings: "opsz" 14.0, "wght" 1000.0, "GRAD" 0.0, "wdth" 100.0, "slnt" -10.0, "XOPQ" 96.0, "YOPQ" 79.0, "XTRA" 468.0, "YTUC" 712.0, "YTLC" 514.0, "YTAS" 750.0, "YTDE" -203.0, "YTFI" 738.0;
//}
