/* ************************************************************************************
    This separate css for fonts is needed to overcome an issue with Storybook
   ************************************************************************************ */
@font-face {
  font-family: "TypeMaestro";
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/TypeMaestro/font.woff2') format('woff2'),
  url('/fonts/TypeMaestro/font.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Inter-Regular.woff2?v=3.19") format("woff2");
}

@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("/fonts/Inter-roman.var.woff2?v=3.19") format("woff2");
}
