// SMACSS Layout Rules
// ----------------------------
// Layout styles can also be divided into major and minor styles based on reuse.
// Major layout styles such as header and footer are traditionally styled using
// ID selectors but take the time to think about the elements that are common
// across all components of the page and use class selectors where appropriate.
// ===============================================================================

main {
  position: relative;
  width: 100%;
  //margin: var(--menu-height) 0 0 0;
  margin: 0;
}

//.dom {
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100vw;
//  height: 80vh;
//  overflow: hidden;
//}

.canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
//
//canvas {
//  position: relative;
//  z-index: 0;
//}

