<div class="white-row full-width">
   <div class="container">
      <div id="contact" class="padding-bottom-small chapter padding-top-medium row">
         <div class="text-center col-md-12">

            <h2>
               Contact
               <span class="color-font light">Me</span>
            </h2>

            <h5>
               Don&#8217;t be shy!
               <span class="color-font">Drop me a line</span> and I will get to you ASAP.
            </h5>

         </div>
      </div>
   </div>

   <!--<div class="container">-->
      <!--<div class="padding-small row">-->
         <!--<div class="col-md-12">-->
            <!--<div class="contactForm">-->
               <!--<iframe height="437" allowTransparency="true" frameborder="0" scrolling="no" style="width:100%;height: 600px;border:none" src="https://aozoralabs.wufoo.com/embed/m16c1bvf1mx07kz/">-->
                  <!--<a href="https://aozoralabs.wufoo.com/forms/m16c1bvf1mx07kz/">Fill out my Wufoo form!</a>-->
               <!--</iframe>-->
            <!--</div>-->
         <!--</div>-->
      <!--</div>-->
   <!--</div>-->

   <div class="container">
      <div class="padding-small row">
         <div class="col-md-12">

            <div class="contactForm">
               <div class="row">
                  <div class="col-md-12">

                     <div id="contactFormInfo_766" class="alert alert-success" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p>Thank You! I will contact you shortly.</p>
                     </div>

                     <div id="contactFormError_766" class="alert alert-danger" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <p>Ups! An error occured. Please try again later.</p>
                     </div>
                  </div>
               </div>

               <form id="contactForm_766" role="form" class="contactForm SendGrid">
                  <input id="csrf-token" name="_csrf" type="hidden" name="_csrf" value="{{ token }}"/>

                  <div class="row">
                     <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                           <input id="contactFormEmail_766" name="email" required type="email" class="form-control input-lg" placeholder="E-mail">
                        </div>
                     </div>
                     <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                           <textarea id="contactFormText_766" name="message" class="form-control input-lg" rows="4" required placeholder="Your message"></textarea>
                        </div>
                        <button id="contactFormSubmit_766" type="submit" class="btn btn-default btn-lg btn-block">Send message</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

</div>
