<div class="container">
   <div id="portfolio" class=" chapter padding-medium row">
      <div class="text-center col-md-12">

         <h2>
            My <span class="color-font light">Portfolio</span>
         </h2>

         <h5>
            Take a look at my
            <span class="color-font">projects</span>
         </h5>

      </div>
   </div>
</div>

<div class="full-width">
   <div class="container">
      <div class="padding-medium row animated" data-fx="fadeInUp">

         <div class="col-sm-4 text-center col-md-4">
            <div class="services">
               <div class="services-box">
                  <div class="circleBox">
                     <div class="circle-border-outside">
                        <div class="circle-border-inside">
                           <div class="circle">
                              <div class="circle-content">
                                  <img src="{{asset "images/portfolio/bootplus.png"}}" alt="bootplus">
                              </div>
                           </div>
                        </div>
                        <div class="circle-triangle"></div>
                     </div>
                  </div>
                  <div class="text-center">
                     <h5>
                        Bootplus
                     </h5>
                     <p>Sleek, intuitive, and powerful Google styled front-end framework for faster and easier web development.</p>
                     <p>Bootplus provides the same basic templates from <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a>, adapted with the new "plus" style.</p>
                     <p>
                        <strong><a class="btn btn-link" href="http://aozora.github.io/bootplus/" target="_blank">See the project web site</a></strong>
                     </p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-sm-4 text-center col-md-4">
            <div class="services">
               <div class="services-box">
                  <div class="circleBox">
                     <div class="circle-border-outside">
                        <div class="circle-border-inside">
                           <div class="circle">
                              <div class="circle-content">
                                 <img src="{{asset "images/portfolio/bootmetro.png"}}" alt="bootmetro">
                              </div>
                           </div>
                        </div>
                        <div class="circle-triangle"></div>
                     </div>
                  </div>
                  <div class="text-center">
                     <h5>
                        Bootmetro
                     </h5>
                     <p>BootMetro is a web framework with simple and flexible HTML, CSS, and Javascript for web apps that wants to use the Windows 8 Store Style (ex Metro style) style, without the need to run on Windows 8.</p>
                     <p>BootMetro is built on top of <a href="http://getbootstrap.com" target="_blank">Twitter Bootstrap</a> and provide the same UI elements of an original Windows 8 Store app, such Tiles, Charms Bar, Application Bar, and the same Navigation pattern.</p>
                     <p>This project has been reviewed by Softpedia (<a href="http://webscripts.softpedia.com/script/Development-Scripts-js/CSS-Frameworks/BootMetro-76006.html" target="_blank">link</a> ) and the project site has now an average of 2/3000 visits each day.</p>
                     <p>
                        <strong><a class="btn btn-link" href="http://aozora.github.io/bootmetro/" target="_blank">See the project web site</a></strong>
                     </p>
                  </div>
               </div>
            </div>
         </div>

         <div class="col-sm-4 text-center col-md-4">
            <div class="services">
               <div class="services-box">
                  <div class="circleBox">
                     <div class="circle-border-outside">
                        <div class="circle-border-inside">
                           <div class="circle">
                              <div class="circle-content">
                                 <img src="{{asset "images/portfolio/tripandia.png"}}" alt="tripandia">
                              </div>
                           </div>
                        </div>
                        <div class="circle-triangle"></div>
                     </div>
                  </div>
                  <div class="text-center">
                     <h5>
                        Tripandia
                     </h5>
                     <p>Tripandia is a new travel social network that let you share your travels and find usefull tips from others travellers.</p>
                     <p>Recreating the travel experience is easy and funny, enriching with photos and maps all the visited places, sharing with friends to let them add theirs photos and stories.</p>
                     <p>In 2012 I collaborated with the Tripandia team to realize the front-end, first my sahring various mockups, then implementing part of the web design of the project.</p>
                     <p>
                        <strong><a class="btn btn-link" href="http://www.tripandia.com/" target="_blank">See the project web site</a></strong>
                     </p>
                  </div>
               </div>
            </div>
         </div>

      </div>
   </div>
</div>