<div class="container animated" data-fx="fadeInLeft">

   <div id="aboutme" class="chapter padding-medium row">
      <div class="text-center col-md-12">

         <h2>
            A little bit
            <span class="color-font light">about me</span>
         </h2>

         <p class="lead">I am a <i>senior software developer</i> specialized in Microsoft .NET technologies & NodeJs, and also a  front-end designer with a strong focus on usability and clean design.</p>

         <img id="about-avatar" src="{{asset "images/me_150x150.jpg"}}" class="img-circle" alt="me">

         <p>I was born and currently live in Milan (Italy). I started working in 1999 with Microsoft technologies, from VB to .NET, C#, SQL Server, starting soon to learn coding in HTML, CSS and javascript.</p>
         <p>
         In the 2007, I started learning about Usability and User Experience, spending months studying books and articles of Jakob Nielsen, Alan Cooper, Steve Krug, Luke Wroblewski, and others usability guru.
         In the meantime my development and user interface design skills evolved towards a more clean approach, with always the end user in mind.
         </p>

         <p>
         In the 2012 I discovered NodeJs  and I started studying and experimenting with it, and recently I am creating a little CMS as my lab project; this site itself is running with NodeJs & ExpressJs.
         This web site is my attempt to express my self, to state my presence on the web!
         </p>

         <h3>Hobbies and interests</h3>
         <p>I’m quite into japanese culture and language, I love fantasy & science-fictions books & movies, and my beautiful cat Star.</p>

      </div>
   </div>
</div>
