<div class="container">
   <div class="padding-top-small row">
      <div class="text-center col-md-12">
         <h3>My <span class="color-font">technical</span> skills</h3>
      </div>
   </div>

   <div class="padding-small row">
      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="80%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">80%</span>
         </div>
         <h5>Node.Js</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="90%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">90%</span>
         </div>
         <h5>AngularJs</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="90%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">90%</span>
         </div>
         <h5>HTML5 / CSS3</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="100%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">100%</span>
         </div>
         <h5>ASP.NET MVC</h5>
      </div>

   </div>

   <div class="padding-small row">

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="75%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">75%</span>
         </div>
         <h5>Sitecore</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="90%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">90%</span>
         </div>
         <h5>Javascript</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="80%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">80%</span>
         </div>
         <h5>Usability</h5>
      </div>

      <div class="col-sm-3 text-center col-md-3 animated" data-fx="rotateIn">
         <div class="graph-percent pie-chart" data-percent="80%">
            <div class="border-chart-outer">
               <div class="border-chart"></div>
            </div>
            <span class="text">80%</span>
         </div>
         <h5>Web Design</h5>
      </div>

   </div>

</div>

<div class="color-row full-width">
   <div class="container">
      <div class="padding-small row">
         <div class="text-center col-md-12">

            <h4>
               View my
               <span class="light">full profile</span> on
            </h4>

            <a href="http://it.linkedin.com/in/marcellopalmitessa" class="btn btn-lg btn-white btn-linkedin btn-top-margin" >
               <i class="fa fa-linkedin-square"></i>
               LinkedIn
            </a>

         </div>
      </div>
   </div>
</div>