<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header border-full-header dark static-sticky" data-sticky-class="not-dark" data-sticky-offset="full" data-sticky-offset-negative="100">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
  ============================================= -->
            <div id="logo">
                <a href="index.html" class="standard-logo" data-dark-logo="images/canvasone-dark.png"><img src="images/canvasone.png" alt="Canvas Logo"></a>
                <a href="index.html" class="retina-logo" data-dark-logo="images/canvasone-dark@2x.png"><img src="images/canvasone@2x.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
  ============================================= -->
            <nav id="primary-menu">

                <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                    <li><a href="#" data-href="#wrapper"><div>Home</div></a></li>
                    <li><a href="#" data-href="#section-about"><div>About</div></a></li>
                    <li><a href="#" data-href="#section-works"><div>Works</div></a></li>
                    <li><a href="#" data-href="#section-services"><div>Services</div></a></li>
                    <li><a href="#" data-href="#section-blog"><div>Blog</div></a></li>
                    <li><a href="#" data-href="#section-contact"><div>Contact</div></a></li>
                </ul>

                <div id="side-panel-trigger" class="side-panel-trigger"><a href="#"><i class="icon-reorder"></i></a></div>

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header><!-- #header end -->
