<header id="MainHeader" class="main-header-with-video">
    <div id="player" class="video">
        {{! YOUR COVER VIDEO }}
        <iframe src="//player.vimeo.com/video/40558553?title=0&amp;portrait=0&amp;color=df5840&amp;autoplay=1&amp;loop=1&amp;badge=0&amp;byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       <!--<a id="video-volume" onclick="jQuery('#bgndVideo').toggleVolume()"><i class="fa fa-volume-down"></i></a>-->
       <!--<a id="bgndVideo" class="player" data-property="{videoURL:'http://www.youtube.com/watch?v=ftmJ6igWFQE',containment:'body',autoPlay:true, mute:true, startAt:115, opacity:1}"></a>-->

    </div>
    <div class="flexslider-with-video">
        <ul class="slides">
            <li>
                <div class="caption text-center">
                    <span>Passionate Developer</span>
                </div>
            </li>
            <li>
                <div class="caption text-center">
                    <span>Curious Designer</span>
                </div>
            </li>
            <li>
                <div class="caption text-center">
                    <span>Tech Geek</span>
                </div>
            </li>
        </ul>
        <ul class="flex-control-nav">
            {{! THERE NEEDS TO BE A NUMBER OF LI EQUAL TO THE NUMBER OF DESCRIPTIONS!!! }}
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
        </ul>
    </div>
</header>