<header id="MainHeader" class="main-header-with-slider">
    <div class="social-top-fix">
        <div class="container text-center">
            <div class="social">
                <ul>
                    {{! SOCIAL ICONS GO HERE }}
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                 title="Facebook">
                                <p><i class="fa fa-facebook"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                 title="Twitter">
                                <p><i class="fa fa-twitter"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom"
                                 title="LinkedIn">
                                <p><i class="fa fa-linkedin-square"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Google+">
                                <p><i class="fa fa-google-plus"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Pinterest">
                                <p><i class="fa fa-pinterest"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Flickr">
                                <p><i class="fa fa-flickr"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Dribbble">
                                <p><i class="fa fa-dribbble"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                <p><i class="fa fa-youtube"></i></p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="circle-btn" data-toggle="tooltip" data-placement="bottom" title="Vimeo">
                                <p><i class="fa fa-vimeo-square"></i></p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="fullscreen-flexslider fs-with-menu-bottom">
        <ul class="slides">
            {{! SLIDES GO HERE }}
            <li>
                <img src="/assets/images/content/full-slider4.jpg" alt="preview">
                <div class="caption text-center">
                    <span>Harmony of Details</span>
                </div>
            </li>
            <li>
                <img src="/assets/images/content/full-slider5.jpg" alt="preview">
                <div class="caption text-center">
                    <span>Ultra Clean Design</span>
                </div>
            </li>
            <li>
                <img src="/assets/images/content/full-slider6.jpg" alt="preview">
                <div class="caption text-center">
                    <span>Do you need creative folks?</span>
                </div>
            </li>
        </ul>
        <ul class="flex-control-nav">
            {{! THERE NEEDS TO BE A NUMBER OF LI EQUAL TO THE NUMBER OF SLIDES ABOVE!!! }}
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
            <li><a href="#"><div class="circle-outside"><div class="circle"></div></div></a></li>
        </ul>
    </div>
</header>