<header id="MainHeader" class="main-header main-header-with-slogan">
    <!--<div class="slogan">-->
        <!--<div class="container">-->
            <!--<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">-->
                <!--<p class="h2">-->
                    <!--TRUST US</br>-->
                <!--</p>-->
                <!--<p class="h1 square">-->
                    <!--<strong>WE ARE</strong></br>-->
                <!--</p>-->
                <!--<p class="h3">-->
                    <!--DESIGNERS-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
   <div class="pattern">
      <div class="slogan">
         <div class="slogan-content">
            <div class="hidden-xs">
               <span class="line big"></span>
               <span>Welcome to my web presence</span>
               <span class="line big"></span>
            </div>
            <h1>Marcello <i>Palmitessa</i></h1>
            <p class="lead">Passionate Developer, Curious Designer, Tech Geek</p>
         </div>
      </div>
   </div>

   <div class="fullscreen-slider-slogan fs-with-menu-bottom">
      <ul class="slides">
         <li>
            <img data-aload="/assets/images/content/full-slider1.jpg" alt="preview">
         </li>
         <li>
            <img data-aload="/assets/images/content/full-slider2.jpg" alt="preview">
         </li>
         <li>
            <img data-aload="/assets/images/content/full-slider3.jpg" alt="preview">
         </li>
         <li>
            <img data-aload="/assets/images/content/full-slider4.jpg" alt="preview">
         </li>
         <li>
            <img data-aload="/assets/images/content/full-slider5.jpg" alt="preview">
         </li>
      </ul>
   </div>
</header>