<!-- Slider
============================================= -->
<section id="slider" class="slider-parallax full-screen force-full-screen">

    <div class="full-screen force-full-screen dark section nopadding nomargin noborder ohidden" style="background-image: url('images/page/main.jpg'); background-size: cover; background-position: center center;">

        <div class="container center">
            <div class="vertical-middle">
                <div class="emphasis-title">
                    <h1>
								<span class="text-rotater nocolor" data-separator="|" data-rotate="fadeIn" data-speed="6000">
									<span class="t-rotate t700 font-body opm-large-word">canvas.|different.|creative.|digital.|vision.</span>
								</span>
                    </h1>
                </div>
                <a href="#" class="button button-border button-light button-circle" data-scrollto="#section-works" data-easing="easeInOutExpo" data-speed="1250" data-offset="70">View our Works</a>
            </div>
        </div>

        <div class="video-wrap">
            <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
        </div>

        <a href="#" data-scrollto="#section-about" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" class="one-page-arrow dark"><i class="icon-angle-down infinite animated fadeInDown"></i></a>

    </div>

</section><!-- #slider end -->
