@import './settings';

:root {
  /* Breakpoint variables */
  --breakpoint-small: #{strip-unit(map_get($breakpoints, phone))};
  --breakpoint-medium: #{strip-unit(map_get($breakpoints, tablet))};
  --breakpoint-large: #{strip-unit(map_get($breakpoints, desktop))};
  --breakpoint-xlarge: #{strip-unit(map_get($breakpoints, desktophd))};

  /* max text sizes  */
  --text-max-width: 38rem;

  /* vf initial values */
  --heading-weight: 300;
  --text-weight: 400;
  --text-width: 100;
  --text-opticalsize: 16;

  /* Paragraph variables */
  --p-line-height-min: 1.15;
  --p-line-height-max: 1.5;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-weight: var(--text-weight);
  --p-vf-width: var(--text-width);

  /* HERO H1 variables */
  --hero-line-height-min: 1;
  --hero-line-height-max: 1.085;
  --hero-font-size-min: 1.5;
  --hero-font-size-max: 5;

  --hero-line-height-min: 1;
  --hero-line-height-max: 1.085;
  --hero-font-size-min: 1.5;
  --hero-font-size-max: 5;

  //--hero-vf-weight-multiplier-s: 1.5;
  //--hero-vf-weight-multiplier-m: 1.625;
  //--hero-vf-weight-multiplier-l: 1.75;

  /* H1 variables */
  --h1-line-height-min: 1.05;
  --h1-line-height-max: 1.1;
  --h1-font-size-min: 2;
  --h1-font-size-max: 4.5;
  --h1-vf-weight-multiplier-s: 1.5;
  --h1-vf-weight-multiplier-m: 1.625;
  --h1-vf-weight-multiplier-l: 1.75;

  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 1.75;
  --h2-font-size-max: 2.5;
  --h2-vf-weight-multiplier-s: 1.25;
  --h2-vf-weight-multiplier-m: 1.5;
  --h2-vf-weight-multiplier-l: 1.75;

  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.25;
  --h3-font-size-max: 2;
  --h3-vf-weight-multiplier-s: .5;
  --h3-vf-weight-multiplier-m: .5;
  --h3-vf-weight-multiplier-l: .5;

  /* Dropcap variables */
  --dc-line-height-min: .8;
  --dc-line-height-max: .8;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 4;

  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
}











/* Layout */
//
///* Undo some of the Layout width bits */
//.section-content {
//  margin: 0 auto;
//  padding: 0;
//  width: 100%;
//}
//
//
///* Content end styles */
//.content-area > p:last-child:after {
//  color: #777;
//  content: "\2766";
//  display: block;
//  font-family: Georgia, "Times New Roman", serif;
//  font-size: 5em;
//  font-style: italic;
//  font-weight: 300;
//  line-height: .75;
//  margin-top: 1rem;
//  margin-bottom: 2rem;
//  text-align: center;
//}
