// FLIP Animation
.header-title-word {
  .header-title-char {
    &.flipping {
      font-family: var(--body-font-family);
      font-optical-sizing: auto;
      font-variation-settings: "slnt" 0, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;

      font-size: 16vw; // so is kept in the viewport width
      //font-size: 30vw; // così devo scrollare
      font-weight: 700;
      line-height: 1.1;
      text-align: center;
      text-transform: uppercase;

      @media (max-width: 360px) {
        font-size: 2.5rem;
      }
    }
  }
}

//.hero2-title1 {
//  span,
//  span.flipping {
//    visibility: visible;
//  }
//
//  span.active {
//    visibility: hidden;
//  }
//}
