.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 1rem;
  grid-template-areas: "social" "copyright" "credits";
  @include container;
  margin: 4rem auto;


  .menu__social {
    grid-area: social;

    ul {
      list-style-type: none;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      grid-gap: 1rem;
      justify-items: center;
      align-items: start;
      max-width: none;
      height: 1.778rem;
      margin: 0 0 3rem 0;
      padding: 0;
    }

    //max-width: none;

    span {
      @include visuallyhidden;
    }

    //li,
    //a {
    //  display: block;
    //  width: 1.778px;
    //  height: 1.778px;
    //  padding: .2rem;
    //}

    a {
      display: block;
      width: 1.778rem;
      height: 1.778rem;
      padding: .2rem;

      &:hover,
      &:focus,
      &:active {
        color: var(--color-pantone);
        border-color: var(--color-pantone);
      }
    }
  }

  .footer__copyright {
    grid-area: copyright;
    margin: 0 auto 2rem auto;
    padding: 0 1rem;
    font-size: .888rem;
    color: var(--color-black);
    text-align: center;
  }

  .footer__credits {
    grid-area: credits;
    margin: 0 auto 2rem auto;
    padding: 0 1rem;
    font-size: .778rem;
    color: var(--color-black);
    text-align: center;

    a {
      font-size: inherit;
    }
  }
}
