.home {
  h1 {

  }

  h2 {
    --text-scale-ratio: 1.25; // base mobile ratio
    font-size: var(--text-scale-6);
  }
}

.about {
  position: relative;
  @include layout-grid;

  > * {
    grid-column: 2;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 30vw;
    --text-weight: 600;
    font-family: var(--body-font-family);
    text-transform: uppercase;
    color: var(--color-pantone);

    @supports (font-variation-settings: normal) {
      font-family: var(--variable-font-family);
      font-variation-settings: 'wght' var(--text-weight);
    }
  }
}

.about-highlight {
  display: block;
  gap: 2rem;
  padding: 2rem 0;
  margin: 0 0 10vh 0;

  @media (min-width: 64em) {
    margin: 0 0 30vh 0;
  }

  &.picture-text {
    grid-template-columns: 35% 65%;
  }

  &.text-picture {
    grid-template-columns: 65% 35%;
  }

  p {
    font-optical-sizing: auto;
    font-variation-settings: "slnt" 0, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.2;

    &.about-highlight-up {
      text-transform: uppercase;
    }
  }

  figure {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
  }

  svg {
    width: 100%;
  }

  @media (min-width: 64em) {
    display: grid;

    figure {
      margin-bottom: 0;
    }
  }
}

html[data-theme='light'] {
  .about-highlight {
    p {
      color: #aaa;
    }
  }
}

html[data-theme='dark'] {
  .about-highlight {
    p {
      color: #333;
    }
  }
}

.skills {
  position: relative;
  @include layout-grid;

  > * {
    grid-column: 2;
  }

  h2 {
    margin-bottom: 3rem;
    font-size: 30vw;
    --text-weight: 600;
    font-family: var(--body-font-family);
    text-transform: uppercase;
    color: var(--color-pantone);

    @supports (font-variation-settings: normal) {
      font-family: var(--variable-font-family);
      font-variation-settings: 'wght' var(--text-weight);
    }
  }
}

.skills-title-wrapper {
  overflow-x: auto;
  grid-column: 1/-1;

  h2 {
    text-wrap: nowrap;
    padding-left: 1.5rem;

    @media (min-width: 64em) {
      padding-left: 2rem;
    }

    //@media (min-width: 1920px) {
    //  // 1920px - 32px - 32px = 1856px
    //  padding-left: 1fr min(1856px, 100%) 1fr;
    //}
  }
}
