.resume {
  @include container;
  //padding: 0 1rem;

  article {
    position: relative;
    margin: 0 0 3rem 0;

    @media (min-width: 48em) and (max-width: 64em) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: ". title title" "date desc desc";
    }
    @media (min-width: 64em) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto auto;
      grid-template-areas: ". title title ." "date desc desc .";
    }

    header {
      @media (min-width: 48em) {
        grid-area: title;
      }
    }

    h3 {
      --h3-font-size-min: 2;
      --h3-font-size-max: 2.86;
      --text-weight: 500;
      font-family: var(--body-font-family);
      margin-top: 0;
      padding: .5rem 1rem;
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }
}

.job__date {
  margin: 0;
  font-family: var(--heading-font-family);
  font-size: 2rem;
  text-align: right;
  color: var(--color-black);

  @media (min-width: 48em) {
    grid-area: date;
    align-self: start;
    justify-self: start;
    margin-left: 2rem;
    transform: rotate(180deg);
    font-size: 3rem;
    //width: 100%;
    writing-mode: vertical-lr;
  }
}

.job__description {
  @media (min-width: 48em) {
    grid-area: desc;
  }
}
