{
  "root": true,
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "browser": true,
    "jquery": true,
    "amd": false,
    "es6": true
  },
  "globals": {
    "Modernizr": true
  },
  "rules": {
    "max-len": ["off"],
    "radix": 0,
    "comma-dangle": [2, "never"],
    "no-unused-vars": [1, {"vars": "local", "args": "none"}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": false, "peerDependencies": false}],
    "linebreak-style": ["off"],
    "padded-blocks": ["off"]
  }
}
