{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "never"
    ],
    "linebreak-style": [
      "off"
    ],
    "padded-blocks": [
      "off"
    ],
    "max-len": [
      "off"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-tag-spacing": [
      "off"
    ]
  }
}
