@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: .8;
    transform: scale(.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// mobile menu
@keyframes menu-enter {
  0% {
    clip-path: polygon(10% 0%, 25% 0%, 50% 0%, 75% 0%, 100% 0%, 100% 100%, 75% 100%, 50% 100%, 25% 100%, 0% 100%, 0% 0%);
  }

  100% {
    clip-path: polygon(13% 0%, 35% 4%, 50% 2%, 75% 8%, 100% 1%, 100% 90%, 75% 100%, 50% 93%, 25% 98%, 0% 95%, 0% 0%);
  }
  //
  //100% {
  //  clip-path: polygon(10% 0%, 25% 0%, 50% 0%, 75% 0%, 100% 0%, 100% 100%, 75% 100%, 50% 100%, 25% 100%, 0% 100%, 0% 100%, 0% 100%);
  //}
}


/* about clip-path animations */
@keyframes about-enter {
  0% {
    clip-path: polygon(0% 0%, 25.48% 5.09%, 51.25% 2.95%, 74.91% 7%, 100% 4.37%, 100% 100%, 75.07% 96.35%, 50.29% 99%, 25.22% 97.01%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 4.43%, 24.53% 0.5%, 47.1% 4.64%, 73.96% 2.89%, 100% 4.89%, 100.00% 96.68%, 73.53% 100%, 46.73% 95.15%, 21.78% 100%, 0% 95.36%)
  }

  100% {
    clip-path: polygon(0% 0%, 25.48% 5.09%, 51.25% 2.95%, 74.91% 7%, 100% 4.37%, 100% 100%, 75.07% 96.35%, 50.29% 99%, 25.22% 97.01%, 0% 100%);
  }
}


/* whatido item description clip-path animations */
@keyframes whatido1 {
  0% {
    clip-path: polygon(3.33% -0.48%, 97.02% -0.47%, 100% 50%, 94.74% 100%, 63.51% 92.38%, 30% 100%, 3.51% 95.71%, 0% 50%);
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0% 50%);
  }
}

@keyframes whatido2 {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 96.14% 69.04%, 99.48% 99.53%, 81.05% 92.38%, 36.49% 100.00%, 1.75% 91.9%, 3.16% 49.52%)
  }

  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 100% 100%, 70% 100%, 30% 100%, 0% 100%, 0% 50%);
  }
}


// for typography animation

.splitting {
  display: block;
  overflow: hidden;
}

.word {
  display: inline-block;
}

.char {
  position: relative;
  display: inline-block;
  will-change: transform;
}
