{{!< default}}

<div id="iubenda-cs-banner"
     style="display: none; background-color: black; left: 0px !important; position: fixed !important; width: 100% !important; z-index: 99999998 !important; top: 0px;">
    <div class="iubenda-cs-content"
         style="display:block; margin:0 auto; padding: 20px; width:auto; font-family: Helvetica,Arial,FreeSans,sans-serif;font-size:14px !important;background:#000;color:#fff;">
        <div class="iubenda-cs-rationale" style="max-width: 900px; position:relative; margin: 0 auto;"><a
                class="iubenda-cs-close-btn"
                style="margin:0 !important; text-decoration:none !important; font-size: 14px !important; color:#fff !important; position: absolute !important; top: 0 !important; right: 0 !important; border: none !important;"
                href="javascript:void(0)">x</a>

            <div class="iubenda-banner-content"><p>Informativa</p>

                <p>This website or third-party tools used by this make use of cookies necessaries for
                    operation and useful to the purposes outlined in the cookie policy. If you want to know more or deny
                                         consent to all or some cookies, please see



                    Questo sito o gli strumenti terzi da questo utilizzati si avvalgono di cookie necessari al
                    funzionamento ed utili alle finalità illustrate nella cookie policy. Se vuoi saperne di più o negare
                    il consenso a tutti o ad alcuni cookie, consulta la <a
                            style="text-decoration:underline; color:#fff;  font-size:14px; font-weight:900; "
                            href="https://www.iubenda.com/privacy-policy/787009/cookie-policy?an=no&amp;s_ck=false"
                            class="iubenda-cs-cookie-policy-lnk">cookie policy</a>.<br>Chiudendo questo banner,
                    scorrendo questa pagina, cliccando su un link o proseguendo la navigazione in altra maniera,
                    acconsenti all’uso dei cookie.</p></div>
        </div>
    </div>
</div>


{{!> header}}

{{! To enable slogan, remove !below. To edit slider template navigate to partials/header-slogan.hbs}}
{{> header-slogan}}


{{> menu}}

{{> _aboutme}}
{{> _resume}}
{{> _skills}}
{{> _portfolio}}
{{> _contact}}
