<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

   {{! Page Meta }}
   <title>This is the web presence of MarcelloP</title>
   <meta name="description" content="The web presence of Marcello Palmitessa"/>
   <meta name="author" content="Marcello Palmitessa">
   <meta name="keywords" content="web, design, marcello palmitessa, usability, nodejs, aspnet mvc, mvc, arashi, bootmetro, bootplus, portfolio">
   <!--<meta name="HandheldFriendly" content="True"/>-->
   <!--<meta name="MobileOptimized" content="320"/>-->
   <!--<meta name="viewport" content="width=device-width, initial-scale=1.0"/>-->


   <!-- Stylesheets
   ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../style.css" type="text/css" />

    <!-- One Page Module Specific Stylesheet -->
    <link rel="stylesheet" href="onepage.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/et-line.css" type="text/css" />
    <link rel="stylesheet" href="../css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="css/fonts.css" type="text/css" />

    <link rel="stylesheet" href="../css/responsive.css" type="text/css" />

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->


   <!-- External JavaScripts
   ============================================= -->
   <script type="text/javascript" src="/assets/js/jquery.js"></script>
   <script type="text/javascript" src="/assets/js/plugins.js"></script>

   <link rel="shortcut icon" href="/assets/favicon.ico">

   <link rel="canonical" href="http://www.marcellop.com/" />

</head>
<body class="stretched side-push-panel">
<!--[if lt IE 9]>
<div class="alert alert-warning">
   <div class="text-center">
      <p class="lead">
         <i class="fa fa-warning"></i>
         You are using an outdated browser.&nbsp;<a href="http://browsehappy.com/">Upgrade your browser today</a>&nbsp;to better experience this site.ù
      </p>
   </div>
</div>
<![endif]-->


{{{body}}}

{{> footer}}


<!-- The Main Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

   <!-- Header
   ============================================= -->
   <header id="header">

      ...

   </header>

   <!-- Site Content
   ============================================= -->
   <section id="content">

      <div class="content-wrap">

         <div class="container clearfix">

            ...

         </div>

      </div>

   </section>

   <!-- Footer
   ============================================= -->
   <footer id="footer" class="dark">

      <div class="container">

         ...

      </div>

      <!-- Copyrights
      ============================================= -->
      <div id="copyrights">

         <div class="container clearfix">

            ...

         </div>

      </div>

   </footer>

</div>

</body>
</html>