
.about-area {
  img {
    float: right;
    width: 50%;
    max-width: 250px;
    height: 50%;
    margin-bottom: 2 * $baseline;
    border-radius: 50%;
    clip-path: circle(50% at 50% 50%);
  }
}
//
//.about-area__howdy {
//  //margin-right: rem-calc(40);
//
//  h3 {
//    font-size: rem-calc(22);
//    font-weight: 600;
//    text-transform: capitalize;
//  }
//
//  p {
//    font-size: 1rem;
//    line-height: rem-calc(28);
//  }
//
//  .button {
//    margin-top: 30px;
//  }
//
//}
//
//.about-area__progress {
//
//}
///* about section
//-----------------*/
//.right.skill-progress {
//  width: 370px;
//}
//
///* Progress bar
