@keyframes tilt {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  25% {
    transform: rotate3d(0, 0, 1, -25deg);
  }

  50% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

  75% {
    transform: rotate3d(0, 0, 1, 25deg);
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }

}

.contact-area {
  background-color: $color-white;

  h3 {
    margin-top: 0;
    font-weight: 400;
  }

  figure {
    display: flex;
    justify-content: center;
    margin: 0;

    img {
      object-fit: contain;
    }
  }
}

.contact-area__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    padding: 0 1rem;
    font-family: $heading-font-family;
    font-size: 1.5rem;
    line-height: rem-calc(20);
    color: $color-black;
    text-transform: capitalize;
    //transition: all ease .35s;

    svg {
      margin-right: 1.5rem;
    }

    &:hover,
    &:active {
      svg {
        animation: tilt 03s ease infinite;
      }
    }
  }

  &.social-links {
    margin-top: 2.5rem;
  }
}
