$menu-mobile-background: $color-light-gray;
$menu-desktop-background: $color-light-gray;
$color-menu: #555;

$menu-height: 2 * $baseline;
$menu-zindex: 101;

//[hidden] {
//  display: none;
//}

header {
  //position: fixed;
  //top: 0;
  //position: -webkit-sticky;
  //position: sticky;
  //top: 0;
  //width: 100%;

  height: $menu-height;
  position: relative;
  z-index: $menu-zindex + 1;
}

/**
  Skip Links
 */
[href="#maincontent"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */

  &:focus {
    right: auto;
    color: $body-font-color;
    text-decoration: underline;
    @include better-underline();
    z-index: 100;
  }
}

/**
  Tablet/Desktop Navigation
 */
.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  width: 100%;
  height: $menu-height;

  padding: 0;
  //background-color: transparent;
  background-color: $menu-mobile-background;

  .marcello {
    height: $menu-height;
    fill: $color-blue;
  }

  button {
    height: 2.2rem;
    padding: 0 1rem;
    border: 0;
    margin: 0.5rem;
    //height: $menu-height;
    //padding: 0 1.6rem;
    //border: 0;
    font-family: $body-font-family;
    font-size: .85rem;
    color: $color-black;
    background-color: $color-blue;

    span {
      display: inline-block;
      transition: transform .4s ease-in-out;
    }
  }

  .menu,
  .menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    flex: 0 0 100%;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: $baseline;
    position: absolute;
    top: -100vh;
    left: 0;
    transition: all .4s ease-in-out;
    background-color: $menu-mobile-background;
    box-shadow: 0 1px 4px rgba(2, 3, 3, 0.1);
    z-index: $menu-zindex;
  }

  .menu > li {
    margin: 0 10px;
    text-align: right;

    > a {
      position: relative;
      padding: 0 5px;
      line-height: 40px;
      font-family: $heading-font-family;
      // $properties, $min-vw, $max-vw, $min-value, $max-value
      @include fluid-type(font-size, $minScreen, $maxScreen, $minBodyFont, 1rem);

      font-weight: 600;
      letter-spacing: 0.40px;
      color: $color-menu;

      //@include better-underline($menu-mobile-background);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        left: 0;
        height: 2px;
        transition: all 0.3s ease 0s;
        background: $color-menu none repeat scroll 0 0;
      }

      &:hover:after {
        width: 100%;
      }

      &:focus {
        outline: none;
        background-color: $color-medium-gray;
        color: $color-black;
      }
    }
  }
}

.main-menu.open {

  button span {
    transform: rotate(180deg);
  }

  .menu {
    top: $menu-height;
  }

}

.main-menu__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $baseline;
}

.main-menu__title {
  //flex: 1 1 50%;
  opacity: 0;
}

.main-menu__toggle {
  //flex: 1 1 50%;
  background-color: $menu-background;
  color: $color-black;
  padding: ($baseline / 2) $baseline;
  border-color: $menu-background;
}

//
//.top-bar__logo {
//  position: relative;
//  transform: translateY(-200%);
//  transition: transform .5s ease-in-out;
//
//  &.active {
//    transform: translateY(0);
//  }
//}

/**
  Scrolled behavior
 */

@media screen and (min-width: 40em) {
  .main-menu__toggle {
    display: none;
  }

  .main-menu {
    .menu {
      flex-direction: row;
    }
  }

}

@keyframes wave {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

//body.scrolled {
//  .top-bar {
//    height: 101px;
//    padding: 20px 0;
//    background-color: rgba($topbar-background, .9);
//    //box-shadow: 0 2px 16px 10px rgba(255,255,255, 0.4);
//
//    .menu {
//      background-color: transparent;
//    }
//
//    .menu li {
//      //animation: wave .45s ease-in-out infinite;
//      animation-duration: .45s;
//      animation-name: wave;
//      animation-timing-function: ease-in-out;
//      animation-iteration-count: 2;
//      animation-direction: alternate;
//    }
//
//    $count: 10;
//    @for $i from 0 to $count {
//      .menu li:nth-child( #{$count}n + #{$i} ) {
//        animation-delay: -#{($count - $i) * 2 * .45 / $count }s;
//      }
//    }
//
//  }
//}
//
//.main-menu__marcello {
//  height: rem-calc(14);
//}
//
//.title-bar-title {
//  //background: transparent url(/_nuxt/img/marcello.fdccced.svg) no-repeat 13px 9px;
//  //background-size: cover;
//  padding: 0;
//  flex: 1 0 auto;
//  font-size: 1.5rem;
//
//  span {
//    display: none;
//  }
//}

//@include breakpoint(medium) {
//  .title-bar-title {
//    padding: 20px 0;
//
//    span {
//      display: inline;
//    }
//  }
//}
