$menu-mobile-background: $color-light-gray;
$menu-desktop-background: $color-light-gray;
$color-menu: #555;

$menu-height: 2 * $baseline;
$menu-zindex: 101;

@keyframes inFromRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes outToRight {
  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

header {
  height: $menu-height;
  position: relative;
  z-index: $menu-zindex + 1;
}

/**
  Skip Links
 */
[href="#maincontent"] {
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */

  &:focus {
    right: auto;
    color: $body-font-color;
    text-decoration: underline;
    @include better-underline();
    z-index: 100;
  }
}

/**
  Mobile Navigation
 */
.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $menu-height;
  overflow: hidden;

  padding: 0;
  background-color: transparent;
  //background-color: $menu-mobile-background;

  .marcello {
    height: 2rem; // $menu-height;
    fill: $color-blue;
    opacity: 0;
    transition: opacity .5s ease-in-out;

    &:focus,
    &:active,
    &.active {
      opacity: 1;
    }
  }

  button {
    height: 2.2rem;
    padding: 0 1rem;
    border: 0;
    margin: 0.5rem;
    //height: $menu-height;
    //padding: 0 1.6rem;
    //border: 0;
    font-family: $body-font-family;
    font-size: .85rem;
    color: $color-black;
    background-color: $color-blue;
    z-index: $menu-zindex + 10;

    span {
      display: inline-block;
      transition: transform .4s ease-in-out;
    }
  }

  .menu,
  .menu li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu {
    visibility: hidden;
    flex: 0 0 100%;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: absolute;
    top: $menu-height;
    left: 0;
    //transition: all .4s ease-in-out;
    //background-color: $menu-mobile-background;
    //box-shadow: 0 1px 4px rgba(2, 3, 3, 0.1);
    background-color: transparent;
    z-index: $menu-zindex;
  }

  .menu > li {
    margin: 0 10px;
    text-align: right;
    background-color: $menu-mobile-background;
    //transform: translate3d(100%, 0, 0);

    &:last-child {
      padding-bottom: $baseline;
    }

    > a {
      position: relative;
      padding: 0 5px;
      line-height: 40px;
      font-family: $heading-font-family;
      // $properties, $min-vw, $max-vw, $min-value, $max-value
      @include fluid-type(font-size, $minScreen, $maxScreen, $minBodyFont, 1rem);

      font-weight: 600;
      letter-spacing: 0.40px;
      color: $color-menu;

      //@include better-underline($menu-mobile-background);

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        left: 0;
        height: 2px;
        transition: all 0.3s ease 0s;
        background: $color-menu none repeat scroll 0 0;
      }

      &:hover:after {
        width: 100%;
      }

      &:focus {
        outline: none;
        background-color: $color-medium-gray;
        color: $color-black;
      }
    }
  }
}

.main-menu.open {

  button span {
    transform: rotate(180deg);
  }

  //.menu {
  //  visibility: visible;
  //}
  //
  //&.in-from-right {
  //  .menu {
  //    //visibility: visible;
  //
  //    > li {
  //      animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  //    }
  //  }
  //}
  //
  //&.out-from-right{
  //  .menu {
  //    //visibility: visible;
  //
  //    > li {
  //      animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  //    }
  //  }
  //}

}

.main-menu__topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $baseline;
}

.main-menu__title {
  opacity: 0;
}

.main-menu__toggle {
  background-color: $menu-background;
  color: $color-black;
  padding: ($baseline / 2) $baseline;
  border-color: $menu-background;
}

#shape {
  position: absolute;
  top: 0;
  left: 0;
  //width: 100%;
  //height: $menu-height;
  //fill: $menu-mobile-background;

  //path {
  //  fill: $color-blue;
  //}
}


@media screen and (min-width: 40em) {
  .main-menu__toggle {
    display: none;
  }

  .main-menu {
    .menu {
      flex-direction: row;
    }
  }

}
