$hero-color: #414141;

.hero {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: none;

  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__headings {
  padding: $baseline $baseline $baseline $baseline;
  position: relative;

  h1 {
    color: $hero-color;
    font-weight: 700;
    text-transform: uppercase;

    small {
      display: block;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1;
      color: $color-dark-gray;
    }
  }

  p {
    color: $hero-color;

    @supports (hyphens: auto) {
      text-align: justify;
      hyphens: auto;
    }
  }
}

.hero__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $color-blue;
    transition: all .35s ease-in-out;

    svg {
      fill: $color-black;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-black;

      svg {
        fill: $color-blue;
      }
    }
  }
}

/**
  Overrides for iPhone 5 (320)
 */
@media screen and (max-width: 20em) {
  .hero__headings h1 {
    font-size: 2rem;
  }

  .hero__social {
    padding: 0;

    a > span {
      //@extend .visuallyhidden;
      position: absolute;
      width: 1px;
      height: 1px;
      clip: rect(0 0 0 0);
      margin: -1px;
      padding: 0;
      border: 0;
      overflow: hidden;
    }

  }
}

@media screen and (min-width: 40em) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__headings {
    max-width: $maxWidth;
  }

  .hero__social {
    a {
      @include better-underline();
      width: auto;
      height: auto;
      padding: 0 1rem;
      border-radius: 0;
      background-color: transparent;
      color: $color-black;
      text-transform: capitalize;
      transition: all ease .35s;

      svg {
        margin-right: 1rem;
      }

      &:hover,
      &:focus {
        background-color: $color-blue;
        color: $color-black;

        svg {
          fill: $color-black;
        }
      }
    }
  }
}

@media screen and (min-width: 65em) {
  .hero__headings {
    position: absolute;
    top: 3.6rem;
    right: 4rem;
    max-width: 32em;
    z-index: 2;
    /* background-color: rgba(255,255,255,.2); */
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
  }

  .hero__social {
    padding: 0;

    a{
      //border-color: $color-white;
    }
  }
}

