$hero-color: #414141;

.hero {
  position: relative;
  padding: 0;
  margin: 0;
  //background: $light-gray url(/assets/img/marcello.svg) no-repeat 15px 5%;
  //background-size: contain;

  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  img {
    clip-path: polygon(53% 0, 66% 59%, 59% 100%, 0 100%, 0 0);
  }
}


.hero__headings {
  padding: $baseline;
  position: relative;

  h1 {
    margin-bottom: 20px;
    color: $hero-color;
    //font-size: rem-calc(38);
    //line-height: rem-calc(44);
    font-weight: 700;
    text-transform: uppercase;

    small {
      display: block;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1;
      color: #919191;
    }
  }

  p {
    line-height: 28px;
    font-size: 1rem;
    color: $hero-color;
  }

  //.button {
  //  margin-top: 40px;
  //}

}
