$hero-color: #414141;

.hero {
  position: relative;
  padding: 0;
  margin: 0;
  max-width: none;

  picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__headings {
  padding: $baseline $baseline $baseline $baseline;
  position: relative;

  h1 {
    color: $hero-color;
    font-weight: 700;
    text-transform: uppercase;

    small {
      display: block;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1;
      color: $color-dark-gray;
    }
  }

  p {
    text-align: justify;
    hyphens: auto;
    color: $hero-color;
  }
}

.hero__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $color-blue;

    svg {
      fill: $color-black;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $color-black;

      svg {
        fill: $color-blue;
      }
    }
  }
}

/**
  Overrides for iPhone 5 (320)
 */
@media screen and (max-width: 20em) {
  .hero__headings h1 {
    font-size: 2rem;
  }

  .hero__social {
    padding: 0;
  }

}
