//  MarcelloP Settings
//  -----------------------------

// 1. Global
// ---------
$render-vertical-rhythm-lines: false;

$baseline: 1.6rem;
$baselineNoUnit: 1.6;
$global-font-size: 1.125%; // 18px

// magic formula:
// calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
$minScreen: 17.7em; // 320px
$maxScreen: 66.6em; // 1200px
$minBodyFont: 1rem; // 18px
$maxBodyFont: 1.111rem; // 20px

$maxWidth: 40em;

// Modular scale
// http://type-scale.com/?size=18&scale=1.500&text=A%20Spooky,%20Visual%20Type%20Scale&webfont=Montserrat%2BPoppins&font-family=%27Poppins%27&font-weight=400&font-family-headers=Montserrat&font-weight-headers=inherit&background-color=white&font-color=%23494949
$h1: 2.55rem; // should be 3.375 but it doesn't fit on 320px!
$h2: 2.25rem;
$h3: 1.5rem;
$h4: 1rem;
$h5: .667rem;

// colors
//$color-primary: #a1a1a1;
//$color-secondary: #4f4f4f;
$color-light-gray: #f5f5f5;
$color-medium-gray: #cacaca;
$color-dark-gray: #494949;
$color-gray: #696969;
$color-black: #414141;
$color-white: #fff;
$color-blue: #67B8EE;
//$color-blue2: #0f509a;
$color-x: #494949;

$body-background: $color-light-gray;
$body-font-color: $color-black;
$body-font-family: 'Poppins', Helvetica, Roboto, Arial, sans-serif;
$heading-font-family: 'Montserrat', Helvetica, Roboto, Arial, sans-serif;
$global-radius: 0;

// 4. Base Typography
// ------------------

$header-font-family: $heading-font-family;
$header-color: $color-dark-gray; //get-color(secondary);
//$header-lineheight: 1.5;
//$header-margin-bottom: 1rem; //0.5rem;
//$header-styles: (
//  'small': (
//    'h1': ('font-size': 40, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h2': ('font-size': 32, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h3': ('font-size': 22, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h4': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h5': ('font-size': 14, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h6': ('font-size': 13, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
//  ),
//  'medium': (
//    'h1': ('font-size': 40, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h2': ('font-size': 32, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h3': ('font-size': 24, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h4': ('font-size': 18, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h5': ('font-size': 16, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom),
//    'h6': ('font-size': 13, 'line-height': $header-lineheight, 'margin-top': 0, 'margin-bottom': $header-margin-bottom)
//  )
//);
//$header-text-rendering: optimizeLegibility;
//$small-font-size: 90%;
//$header-small-font-color: $color-medium-gray;


// Main Menu
// -----------
$menu-background: $color-light-gray;
