/*
          min Font Size   Max FS - Min FS      1000vw - min SS / Max SS - Min SS
    calc( 16px          + (24 - 16)         *  (100vw - 400px) / (800 - 400) )

    calc(-0.0401779em + 1rem + 0.226994vw)

     font-size:calc(21px + (22 - 19) * (100vw - 768px)/ (1300 - 768));

*/

html,
body {
  min-height:100%;
  overflow-x:hidden
}


html {
  box-sizing: border-box;
  height: 100%;
  //font-size: $global-font-size; // fallback
  font-size: calc(18px + 0.25vw);

  // Set fluid type
  // $properties, $min-vw, $max-vw, $min-value, $max-value
  //@include fluid-type(font-size, $minScreen, $maxScreen, $minBodyFont, $maxBodyFont);
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Default body styles
body {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;

  background-color: $body-background;

  font-family: $body-font-family;
  font-weight: normal;
  letter-spacing: 0.03em;
  font-size: 1rem; // calc(18px + 0.25vw);
  //line-height: $baseline;
  line-height: $baselineNoUnit;

  color: $body-font-color;

  @if $render-vertical-rhythm-lines {
    background-image: linear-gradient(rgba(200, 50, 50, .25) 1px, transparent 1px);
    background-size: 1px $baseline;
  }

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

p {
  line-height: $baselineNoUnit;
  margin-bottom: $baseline;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin: $baseline 0;
}

h1 {
  font-size: $h1;
  line-height: $h1;
  //margin-top: calc((#{$baseline} - #{$h1}) + #{$baseline});
}

h2 {
  font-size: $h2;
  line-height: $h2;
  text-align: center;
  //margin-top: calc((#{$baseline} - #{$h2}) + #{$baseline} * 2);
}

h3 {
  font-size: $h3;
  line-height: $h3;
  //margin-top: calc((#{$baseline} - #{$h3}) + #{$baseline} * 2);
}

h4 {
  font-size: $h4;
  line-height: $h4;
  //margin-top: calc((#{$baseline} - #{$h4}) + #{$baseline} * 2);
}

h5 {
  font-size: $h5;
  line-height: $h5;
  //margin-top: calc((#{$baseline} - #{$h5}) + #{$baseline} * 2);
}



@media screen and (min-width: 65em) {
  body {
    max-width: 100%;
  }
}
