/*
var div = Math.floor(imgOriginalHeight/lineHeight);
var imgNewHeight = lineHeight * div;
 */

$item-height: floor(26rem / $baseline) * $baseline;

.whatido {
  padding: $baseline;
  background-color: $color-blue;
}

.whatido__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.whatido__item {
  width: calc(100vw - 3.2rem);
  //height: $item-height;
  height: auto;
  //margin: 0 2rem $baseline 2rem;
  margin: 0 0 $baseline 0;

  //> div {
  padding: $baseline ($baseline / 2); //rem-calc(27) rem-calc(20) rem-calc(20) rem-calc(20);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.30);
  border-radius: 2px;
  text-align: center;
  background-color: $color-white;
  //background-color: $color-blue;
  //background-image: linear-gradient(215deg, $color-white 43%, $color-blue 129%);
  transition: all 0.3s ease 0s;

  p {
    margin: 0;
    //font-size: 1rem;
    //line-height: 1.5rem;
    font-weight: 300;
    color: $color-black;
  }

  > h3 {
    color: $color-black;
    //font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 0 0 $baseline 0;
  }

  //}
}

@media screen and (min-width: 40em) {
  .whatido__items {
    //flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .whatido__item {
    flex: 1 1 50%;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1.6rem;

    svg {
      flex: 0 0 auto;
    }

    h3 {
      flex: 1 1 auto;
      text-align: left;
      padding-left: 1rem;
    }

    p {
      flex: 0 0 100%;
    }

  }

}
