.about {
  position: relative;
  width: 100%;
  max-width: none;
  padding: 25% 0;
  background-color: var(--color-primary);
  clip-path: polygon(0% 0%, 25.48% 5.09%, 51.25% 2.95%, 74.91% 7%, 100% 4.37%, 100% 100%, 75.07% 96.35%, 50.29% 99%, 25.22% 97.01%, 0% 100%);
  will-change: clip-path;

  @include media(">=tablet") {
    padding: 15% 0;
  }
}

.loaded .about {
  animation: about-enter 3s ease-in-out;
}

.about__container {
  position: relative;
  @include container;
  //padding: 0 3rem;

  @include media(">=tablet") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto); // auto auto auto auto auto;
    grid-template-areas: "heading2 heading2" "content1 ." ". content2" "figure figure" "content3 ." ". content4";
    background-color: var(--color-black);
  }

  h2 {
    grid-area: heading2;
    justify-self: start;
    width: 100%;
    max-width: none;
    margin-bottom: 3rem;
    padding: 0;
    color: var(--color-white);

    @include media('<=360px') {
      margin-top: 3rem;
    }
  }

  .image-container {
    overflow: hidden;

    @include media(">=tablet") {
      grid-area: figure;
      margin: 0;
      padding: 0;
    }
  }

  .image-wrapper {
    margin: calc(3 * var(--text-base-size)) 0 calc(3 * var(--text-base-size)) 0;
    padding: 0 0 0 calc(2 * var(--text-base-size));

    img {
      max-width: 630px;
      margin: 0 auto;
      object-fit: cover;
      clip-path: polygon(0% 4.43%, 24.53% 0.5%, 47.1% 4.64%, 73.96% 2.89%, 100% 4.89%, 100.00% 96.68%, 73.53% 100%, 46.73% 95.15%, 21.78% 100%, 0% 95.36%)
    }

    @include media(">=tablet") {
      //grid-area: figure;
      margin: calc(3 * var(--text-base-size)) 0;
      padding: 0;
    }
  }

  .about__container__textblock-wrapper {
    padding: calc(1 * var(--text-base-size)) 0;

    p {
      line-height: 1.6;
      margin-bottom: calc(1 * var(--text-base-size));
    }

    @include media(">=tablet") {
      &:nth-child(2) {
        grid-area: content1;
      }

      &:nth-child(3) {
        grid-area: content2;
      }

      &:nth-child(5) {
        grid-area: content3;
      }

      &:nth-child(6) {
        grid-area: content4;
      }

    }
  }

  p {
    width: 100%;
    margin: 0;
    color: var(--color-white);
    letter-spacing: var(--text-on-dark-letter-spacing);

    &.dropcap {
      @include dropcap;
    }

    &:first-line {
      //--text-weight: 700;
      font-weight: 500;
    }
  }
}
