h1 {

}

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  @include container;
  text-align: center;
  height: 90vh;
  padding: 3rem 1rem 0 1rem;
  margin-bottom: 2rem;

  h1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: none;
    margin: 0 auto 2rem auto;
    font-family: var(--heading-font-family);
    font-size: clamp(2.88rem, 5.4vw + 1.8rem, 6.667rem);
    font-weight: 300;
    line-height: var(--hero-h1-line-height-min);
    text-align: left;
    text-transform: uppercase;

    @media (max-width: 360px) {
      font-size: 2.5rem;
    }

    span {
      font-family: var(--heading-font-family);
      font-size: clamp(2.88rem, 5.4vw + 1.8rem, 6.667rem);
      font-weight: 300;
      line-height: var(--hero-h1-line-height-min);
    }

    [lang="ja"] {
      font-size: 32px;
      transform: translateX(-100%);
      transition: transform .5s ease-out;
    }

    &:hover {
      .title-hover {
        [lang="ja"] {
          @media (min-width: 64em) {
            transform: translateX(0);
          }
        }
      }
    }
  }

  .title-hover {
    position: relative;
    display: inline-flex;
    overflow: hidden;
    font-weight: 400;

    @media (max-width: 64em) {
      display: none;
    }
  }

  h2 {
    position: relative; // needed for reveal animation
    width: 100%;
    max-width: none;
    margin: 0 0 .667rem 0;
    font-family: var(--heading-font-family);

    --text-weight: var(--hero-weight);
    //@if $use-variable-font-for-headings {
    //  font-variation-settings: 'wght' var(--hero-weight), 'slnt' var(--hero-slant);
    //}

    font-size: clamp(var(--hero-hi-font-size-min), 8vw, var(--hero-hi-font-size-max));
    font-size: clamp(1.778rem, 3.2vw + 1.1rem, 4rem);
    line-height: var(--hero-hi-line-height-min);
    text-align: right;

    .title-hover {
      position: absolute;
      top: -32px;
      right: 0;

    }

    [lang="ja"] {
      font-size: 32px;
      text-align: right;
      transform: translateY(100%);
      transition: transform .5s ease-out;
    }

    &:hover {
      .title-hover {
        [lang="ja"] {
          @media (min-width: 64em) {
            transform: translateY(0);
          }
        }
      }
    }
  }

}
