footer {
  //display: flex;
  //flex-direction: row;
  //justify-content: space-between;
  //align-items: center;
  padding: 1.5rem;
  background: #f5f5f5 none repeat scroll 0 0;

  a,
  p {
    font-family: $heading-font-family;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
    color: $dark-gray;
  }

  a {
    text-transform: none;

    &:hover {
      color: #929292;
    }
  }

  .footer__copyright,
  .footer__made-with,
  .footer__credits {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
