footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background: #f5f5f5 none repeat scroll 0 0;

  p {
    flex: 1 1 50%;
  }

  a,
  p {
    font-family: $heading-font-family;
    font-size: 1rem;
    line-height: 2;
    text-align: left;
    color: #929292;
  }

  a {
    text-transform: none;

    &:hover {
      color: #929292;
    }
  }

  .footer__made-with {
    display: flex;
    align-items: center;
  }

  .footer__credits {
    flex: 0 0 100%;
    width: 100%;
  }

}
