header {
  position: fixed;
  top: 0;
  width: 100%;
}

.title-bar {
  padding: 20px 25px;
}

.top-bar {
  height: 141px;
  padding: 50px 0;
  transition: all .35s ease-in-out;

  .row.column {
    display: flex;
  }

  .menu > li {
    margin: 0 10px;

    > a:not(.menu-text) {
      position: relative;
      padding: 0 5px;
      line-height: 40px;
      font-family: 'Montserrat', sans-serif;
      font-size: .875rem;
      font-weight: 600;
      letter-spacing: 0.40px;
      color: #777;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        left: 0;
        height: 2px;
        transition: all 0.3s ease 0s;
        background: #afafaf none repeat scroll 0 0;
      }

      &:hover {
        color: #afafaf;
      }

      &:hover:after {
        width: 100%;
      }
    }
  }
}

.top-bar__logo {
  position: relative;
  transform: translateY(-200%);
  transition: transform .5s ease-in-out;

  &.active {
    transform: translateY(0);
  }
}

body.scrolled {
  .top-bar {
    height: 101px;
    padding: 20px 0;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .4);
  }
}

.main-menu__marcello {
  height: rem-calc(14);
}

//.title-bar__marcello{
//  height: 1rem;
//}

.title-bar-title {
  //background: transparent url(/_nuxt/img/marcello.fdccced.svg) no-repeat 13px 9px;
  //background-size: cover;
  padding: 20px 0;
  flex: 1 0 auto;
  font-size: 1.5rem;
}
