.hero {
  padding-top: 0;
  background-color: $light-gray;
  background-image: url(~assets/img/marcello.svg);
  background-position: 0 38%;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__headings {
  margin-left: 1rem;
  margin-top: 32%;

  h1 {
    margin-bottom: 20px;
    color: #414141;
    font-size: 44px;
    line-height: 44px;
    font-weight: 700;

    small {
      display: block;
      margin-bottom: 11px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1;
      color: #919191;
    }
  }

  p {
    line-height: 28px;
    font-size: 1rem;
    color: #6a6a6a;
  }

  .button {
    margin-top: 40px;
  }

}
