.service-area {
  background-color: $white;
}

.service-area__item {
  margin-bottom: rem-calc(30);

  > div {
    padding: rem-calc(50) rem-calc(20) rem-calc(60) rem-calc(20);
    box-shadow: 0 1px 5px rgba(5, 5, 6, 0.15);
    transition: all 0.3s ease 0s;
    text-align: center;

    &:hover {
      box-shadow: 0 4px 15px rgba(5, 5, 6, 0.1);
    }

    > p {
      margin: 0;
      font-size: rem-calc(14);
      line-height: 1.5rem;
      font-weight: 400;
      color: #979797;
    }

    hr {
      width: 50px;
      margin: 15px auto;
      border: 0;
      border-top: 2px solid #dbdbdb;
    }

    > h5 {
      color: #757575;
      font-size: 14px;
    }

  }
}

//.single-service i {
//  border: 1px solid #8a8a8a;
//  border-radius: 50%;
//  color: #8a8a8a;
//  font-size: 19px;
//  height: 36px;
//  line-height: 36px;
//  margin-bottom: 20px;
//  width: 36px;
//  transition: all 0.5s ease 0s;
//}
//
//.single-service:hover i {
//  background: #393939 none repeat scroll 0 0;
//  border-color: #393939;
//  box-shadow: 0 4px 15px rgba(5, 5, 6, 0.3);
//  color: #ffffff;
//}
