/** ****************************************************************

    CSS Variables

    Font rules are setup in base.scss for all major
    elements using CSS variables.
    When there's need to override a font rule, there's no need to
    set again the rules, but it's best to just set a new value for
    a CSS variable for a font rule.

    **************************************************************** */
@import './settings';

:root {
  /* Color variables */
  --color-primary: #000;
  --color-black: #000;
  --color-white: #fff;

  // PANTONE Color of the Year 2017
  // https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2018-tools-for-designers
  --color-pantone: #5F4B8B;

  /* Breakpoint variables */
  --breakpoint-small: #{strip-unit(map_get($breakpoints, phone))};
  --breakpoint-medium: #{strip-unit(map_get($breakpoints, tablet))};
  --breakpoint-large: #{strip-unit(map_get($breakpoints, desktop))};
  --breakpoint-xlarge: #{strip-unit(map_get($breakpoints, desktophd))};


  /* type modular scale */
  // body font size
  --text-base-size: 1em;


  /* max text sizes  */
  --text-max-width: 38rem;

  /* focus state */
  --focus-outline: none;
  --focus-box-shadow: none;
  --focus-border-size: 2px;
  --focus-border-style: dashed;
  --focus-border-color: var(--color-black);


  /* vf initial values */
  --heading-weight: 900;
  --text-weight: $body-font-weight;
  --text-width: 100;
  // --text-opticalsize: 16;

  /* spacing */
  --text-letter-spacing: 1.2px;
  --text-on-dark-letter-spacing: 2px;

  /* Paragraph variables */
  --p-line-height-min: 1.5;
  --p-line-height-max: 1.6;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  --p-vf-weight: var(--text-weight);
  --p-vf-width: var(--text-width);

  /* H1 variables */
  --h1-line-height-min: 1.5;
  --h1-line-height-max: 1.5;
  --h1-font-size-min: 2;
  --h1-font-size-max: 5.45;


  --h1-font-size: calc(
    (var(--h1-font-size-min) * 1rem) +
    (var(--h1-font-size-max) - var(--h1-font-size-min)) *
    ((100vw - (var(--breakpoint-small) * 1rem)) /
    (var(--breakpoint-xlarge) - var(--breakpoint-small)))
  );
  --h1-line-height: calc((var(--h1-line-height-min) * 1em) + (var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));


  /* H2 variables */
  --h2-line-height-min: 1.15;
  --h2-line-height-max: 1.25;
  --h2-font-size-min: 4;
  --h2-font-size-max: 5.45;

  --h2-font-size: calc((var(--h2-font-size-min) * 1rem) + (var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
  --h2-line-height: calc((var(--h2-line-height-min) * 1em) + (var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));


  /* H3 variables */
  --h3-line-height-min: 1.15;
  --h3-line-height-max: 1.25;
  --h3-font-size-min: 1.25;
  --h3-font-size-max: 2;

  --h3-font-size: calc((var(--h3-font-size-min) * 1rem) + (var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
  --h3-line-height: calc((var(--h3-line-height-min) * 1em) + (var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));


  /* Dropcap variables */
  --dc-line-height-min: .8;
  --dc-line-height-max: .8;
  --dc-font-size-min: 2.7;
  --dc-font-size-max: 4;

  /* Blockquote variables */
  --bq-line-height-min: 1.1;
  --bq-line-height-max: 1.1;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;
}


/* Layout */
//
///* Undo some of the Layout width bits */
//.section-content {
//  margin: 0 auto;
//  padding: 0;
//  width: 100%;
//}
//
//
///* Content end styles */
//.content-area > p:last-child:after {
//  color: #777;
//  content: "\2766";
//  display: block;
//  font-family: Georgia, "Times New Roman", serif;
//  font-size: 5em;
//  font-style: italic;
//  font-weight: 300;
//  line-height: .75;
//  margin-top: 1rem;
//  margin-bottom: 2rem;
//  text-align: center;
//}
