// SMACSS Base Rules
// ----------------------------
// Base styles include setting heading sizes, default link styles, default
// font styles, and body backgrounds.
// There should be no need to use !important in a Base style.
// ==========================================================================

// Set box-sizing globally to handle padding and border widths
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;

  //@include media("<desktop") {
  //  overflow-x: hidden; // this conflict with position sticky
  //}
}

html {
  height: 100%;
  scroll-behavior: smooth; // this conflicts with GSAP ScrollToPlugin
  font-size: 112.5%; // 18px
  //font-size: calc(16px + 0.2vw); // 112.5%; // 18px
  //line-height: $baseline;

  @include media(">=tablet","<desktop") {
    font-size: 125%; // 20px
  }

  @include media(">=desktop") {
    font-size: 137.5%; // 22px
  }
}

body,
div,
a,
p,
th,
td,
ul,
li,
blockquote,
figcaption,
cite,
i,
em,
b,
strong,
button {
  --text-weight: $body-font-weight;
  font-family: $body-font-family;
  font-size: 1rem;
  line-height: $baseline;
  font-weight: var(--text-weight);
  font-style: normal;
  letter-spacing: var(--text-letter-spacing);
  font-kerning: $kerning;

  @if $use-variable-font {
    @supports (font-variation-settings: normal) {
      font-family: $variable-font-family;
      // this settings depends on th vf selected
      font-variation-settings: 'wght' #var(--text-weight);
      /* ,
         'wdth' var(--text-width),
         'opsz' var(--text-opticalsize); */
    }
  }
}

// Default body styles
body {
  position: relative;
  //max-width: $sectionMaxWidth;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $body-background;
  color: $body-font-color;

  //@if $render-vertical-rhythm-lines {
  //  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  //  background-position: left top;
  //  background-repeat: repeat;
  //  background-size: 100% vr(1);
  //}

  // > don't use font-smoothing for light text on dark background!!
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  //@include media(">=desktop") {
  //  max-width: 100%;
  //}
}

/* Generic header styles */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 1rem 0;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  transition: all linear 0.2s;
  --text-weight: calc(#{var(--p-vf-weight)} * #{var(--h1-vf-weight-multiplier-s)});
  color: inherit;


  @if $use-variable-font-for-headings {
    @supports (font-variation-settings: normal) {
      font-family: $variable-heading-font-family;
      // this settings depends on th vf selected
      font-variation-settings: 'wght' #{var(--heading-weight)};
      /* ,
         'wdth' var(--text-width),
         'opsz' var(--text-opticalsize); */
    }
  }
}


h1 {
  /* Set --text-wght value multiplier */
  --text-weight: calc(var(--p-vf-weight) * var(--h1-vf-weight-multiplier-s));
  //--text-width: calc(var(--p-vf-width) * .85);
  //--text-opticalsize: calc((var(--h1-font-size-min) * 16));

  //font-size: calc(var(--h1-font-size-min) * 1em);
  line-height: var(--h1-line-height-min);
  margin: 1rem auto;
  max-width: 50rem;

  //@media screen and (min-width: 24.15em) {
  //  line-height: calc((var(--h1-line-height-min) * 1em) + (var(--h1-line-height-max) - var(--h1-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
  //  font-size: calc((var(--h1-font-size-min) * 1em) + (var(--h1-font-size-max) - var(--h1-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
  //}
  //@media screen and (min-width: 43.75em) {
  //  --text-weight: calc(var(--p-vf-weight) * var(--h1-vf-weight-multiplier-m));
  //  //--text-width: calc(var(--p-vf-width) * 1.05);
  //  //--text-opticalsize: calc(((var(--h1-font-size-min) + ((var(--h1-font-size-max) - var(--h1-font-size-min)) / 2)) * 16));
  //  //max-width: 60rem;
  //}
  //@media screen and (min-width: 60.25em) {
  //  --text-weight: calc(var(--p-vf-weight) * var(--h1-vf-weight-multiplier-l));
  //  line-height: var(--h1-line-height-max);
  //  //max-width: 70rem;
  //}
  //@media (min-width: 75em) {
  //  //--text-opticalsize: calc((var(--h1-font-size-max) * 16));
  //  font-size: calc(var(--h1-font-size-max) * 1em);
  //  line-height: var(--h1-line-height-max);
  //  //max-width: 75rem;
  //}
}

h2 {
  /* Set --text-wght value multiplier */
  --text-weight: calc(var(--p-vf-weight) * var(--h2-vf-weight-multiplier-s));
  //--text-opticalsize: calc((var(--h2-font-size-min) * 16));

  font-size: calc(var(--h2-font-size-min) * 1em);
  line-height: var(--h2-line-height-min);
  margin: 1rem auto .5rem auto;
  max-width: var(--text-max-width);

  @include media (">=tablet", "<desktop") {
    --text-weight: calc(var(--p-vf-weight) * var(--h2-vf-weight-multiplier-m));
    //--text-opticalsize: calc(((var(--h2-font-size-min) + ((var(--h2-font-size-max) - var(--h2-font-size-min)) / 2)) * 16));

    line-height: calc((var(--h2-line-height-min) * 1em) + (var(--h2-line-height-max) - var(--h2-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    font-size: calc((var(--h2-font-size-min) * 1em) + (var(--h2-font-size-max) - var(--h2-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    max-width: 38.5rem;
  }
  @include media (">=desktop", "<desktophd") {
    max-width: 38.5rem;
  }
  @include media (">=desktophd") {
    --text-weight: calc(var(--p-vf-weight) * var(--h2-vf-weight-multiplier-l));
    //--text-opticalsize: calc((var(--h2-font-size-max) * 16));

    font-size: calc(var(--h2-font-size-max) * 1em);
    line-height: var(--h2-line-height-max);
    max-width: 42rem;
  }
}

h3 {
  /* Set --text-wght value multiplier */
  --text-weight: calc(var(--p-vf-weight) * var(--h3-vf-weight-multiplier-s));
  //--text-opticalsize: calc((var(--h3-font-size-min) * 16));

  //color: #444466;
  font-size: calc(var(--h3-font-size-min) * 1em);
  line-height: var(--h3-line-height-min);
  margin: 1rem auto .5rem auto;
  max-width: var(--text-max-width);
  text-align: left;

  @include media (">=tablet", "<desktop") {
    --text-weight: calc(var(--p-vf-weight) * var(--h3-vf-weight-multiplier-m));

    line-height: calc((var(--h3-line-height-min) * 1em) + (var(--h3-line-height-max) - var(--h3-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    font-size: calc((var(--h3-font-size-min) * 1em) + (var(--h3-font-size-max) - var(--h3-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    max-width: 38.5rem;
  }
  @include media (">=desktop", "<desktophd") {
    max-width: 38.5rem;
  }
  @include media (">=desktophd") {
    --text-weight: calc(var(--p-vf-weight) * var(--h3-vf-weight-multiplier-l));
    //--text-opticalsize: calc((var(--h3-font-size-max) * 16));

    font-size: calc(var(--h3-font-size-max) * 1em);
    line-height: var(--h3-line-height-max);
    max-width: 42rem;
  }
}


.italic,
i,
em {

}

b,
strong {
  --text-weight: 600;
}


p {
  margin: 0 auto 1.5rem auto;
  max-width: var(--text-max-width);
  transition: all linear 0.2s;
  hyphens: auto;
  hanging-punctuation: first;
}

/* Variations and variables */
p {
  --text-width: calc(var(--p-vf-width) * .9);
  font-size: calc(var(--p-font-size-min) * 1rem);
  line-height: var(--p-line-height-min);

  @include media (">=tablet", "<desktop") {
    line-height: calc((var(--p-line-height-min) * 1em) + (var(--p-line-height-max) - var(--p-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-large) - var(--breakpoint-small))));
  }
  @include media (">=desktop", "<desktophd") {
    --text-width: calc(var(--p-vf-width) * 1);
    font-size: calc((var(--p-font-size-min) * 1em) + (var(--p-font-size-max) - var(--p-font-size-min)) * ((100vw - (var(--breakpoint-large) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-large))));
    line-height: var(--p-line-height-max);
  }
  @include media (">=desktophd") {
    //--text-opticalsize: calc((var(--p-font-size-max) * 16));
    font-size: calc(var(--p-font-size-max) * 1em);
    max-width: 42rem;
  }
}


/* Link style
  ============== */
a {
  transition: all 0.3s ease;

  &:link {
    color: var(--color-primary);
    text-decoration: underline;
  }

  &:visited {
    color: var(--color-primary);
    text-decoration: underline;
  }

  &:hover {
    color: var(--color-black);
  }

  > * {
    outline: none;
    cursor: pointer;
    text-decoration: none;
  }
}


/**
 * Turn off margins on nested lists.
 */
ul {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--text-max-width);

  @include media (">=tablet", "<desktop") {
    max-width: 38.5rem;
  }
  @include media (">desktop") {
    max-width: 42rem;
  }
}

figure {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}

blockquote {
  float: right;
  line-height: var(--bq-line-height-min);
  margin: .5rem 5% 1rem .5rem;
  max-width: 45%;
  transition: all linear 0.2s;

  &.right {
    float: right;
    margin-left: .5rem;
    margin-right: 5%;
  }

  &.left {
    float: left;
    margin-left: 5%;
    margin-right: .5rem;
  }

  p {
    /* Set --text-x value */
    --text-weight: calc(var(--p-vf-weight) * .65);
    font-size: 6.5vw;
    margin: 0 0 .25em 0;
    position: relative;

    //&:first-letter {
    //
    //}
    //
    //&:first-line {
    //  --text-weight: calc(var(--p-vf-weight) * .65);
    //}
  }

  cite {
    display: block;
    font-size: 3.5vw;
    text-align: right;

    &:before {
      content: "—";
    }
  }

  @include media (">=tablet", "<desktop") {
    margin: .5rem 5% .5rem .5rem;
    max-width: 45%;

    &.right {
      margin-left: .5rem;
      margin-right: 0;
    }
    &.left {
      margin-left: 0;
      margin-right: .5rem;
    }

    p {
      --text-weight: calc(var(--p-vf-weight) * .8);
      font-size: 5.5vw;
      line-height: calc((var(--bq-line-height-min) * 1em) + (var(--bq-line-height-max) - var(--bq-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-large) - var(--breakpoint-small))));

      //&:first-line {
      //  --text-weight: calc(var(--p-vf-weight) * .8);
      //}
      //
      //&:first-letter {
      //
      //}
    }
    cite {
      font-size: 3vw;
    }
  }

  @include media (">desktop") {
    margin: 1rem 12vw 2rem 2rem;
    max-width: 29.5%;
    &.right {
      margin-left: 3.5%;
      margin-right: 12vw;
    }
    &.left {
      margin-left: 17%;
      margin-right: 3.5%;
    }
    p {
      --text-weight: calc(var(--p-vf-weight) * .7);
      font-size: 4vw;
      line-height: var(--bq-line-height-max);

      //&:first-line {
      //  --text-weight: calc(var(--p-vf-weight) * .7);
      //}
    }
    cite {
      font-size: 2.5vw;
    }
  }
}

