
.visuallyhidden {
  @include visuallyhidden;
}

/* SELECTION
  ============== */
::selection {
  background-color: var(--selection-background-color);
  text-shadow: none;
  color: var(--selection-color);
}

/* FOCUS
  ============== */
body {
  a:focus,
  button:focus {
    outline: var(--focus-outline);
    box-shadow: var(--focus-box-shadow);
    border: var(--focus-border-size) var(--focus-border-style) var(--focus-border-color);
  }
}

// Gets rid of the annoying outline for mouse users but preserves it for keyboard users,
// and is ignored by browsers that don’t support :focus-visible
:focus:not(:focus-visible) {
  outline: none
}

/* PLACEHOLDER
  ============== */
::-webkit-input-placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

::-moz-placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

:-ms-input-placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

:-moz-placeholder {
  color: var(--placeholder-color);
  font-style: italic;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}
