$about-h2-line-height-min: 1.1em; // use 'em' otherwise the fluid-type mixin doesn't work
$about-h2-line-height-max: 1.1em;
$about-h2-font-size-min: 4rem;
$about-h2-font-size-max: 5.45rem;

.about {
  position: relative;
  width: 100%;
  max-width: none;
  padding: 25% 0;
  background-color: var(--color-primary);
  clip-path: polygon(0% 0%, 25.48% 5.09%, 51.25% 2.95%, 74.91% 7%, 100% 4.37%, 100% 100%, 75.07% 96.35%, 50.29% 99%, 25.22% 97.01%, 0% 100%);

  @include media(">=tablet") {
    padding: 15% 0;
  }

  //.scroll-down-button {
  //  --focus-border-color: var(--color-white);
  //  margin: 0 auto;
  //  background-color: transparent;
  //  transform: translateY(calc(var(--triangle-height) / 2 - 1em));
  //
  //  &:first-of-type {
  //    transform: translateY(calc(var(--triangle-height) / -2 + 1em));
  //  }
  //
  //  @include media(">=tablet") {
  //    display: none;
  //  }
  //
  //  svg {
  //    animation: pulse 2s 3s ease-out infinite;
  //  }
  //}

}

.loaded .about {
  animation: about-enter 3s ease-in-out;
}

.about__container {
  position: relative;
  @include container;
  overflow-x: hidden;

  @include media(">=tablet") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, auto); // auto auto auto auto auto;
    grid-template-areas: "heading2 heading2" "content1 ." ". content2" "figure figure" "content3 ." ". content4";
    background-color: var(--color-black);
  }

  h2 {
    grid-area: heading2;
    justify-self: start;
    width: 100%;
    margin-bottom: 3rem;
    padding: 0 1rem;
    color: var(--color-white);
  }

  figure {
    position: relative;
    overflow: hidden;
    margin: 0 0 3rem 0;
    transform: translateX(4rem);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      z-index: 2;
      transform: translateX(0);
      transition: transform .55s linear;
    }

    &.animated {
      &::after {
        transform: translateX(100%);
      }
    }

    @include media(">=tablet") {
      grid-area: figure;
      justify-self: center;
      align-self: center;
      transform: none;
      margin: 1rem 0;

      img {
        width: 17.6rem;
        height: 11.8rem;
        object-fit: cover;
      }
    }
  }

  > div {
    padding: 1rem;

    p {
      font-size: 1rem;
      line-height: 1.6;
      margin-bottom: 1rem;

      [class^="char"] {
        display: inline;
      }
    }

    @include media(">=tablet") {
      max-width: 23rem;

      &:nth-child(2) {
        grid-area: content1;
      }

      &:nth-child(3) {
        grid-area: content2;
      }

      &:nth-child(5) {
        grid-area: content3;
      }

      &:nth-child(6) {
        grid-area: content4;
      }

    }
  }

  p {
    width: 100%;
    margin: 0;
    color: var(--color-white);
    letter-spacing: var(--text-on-dark-letter-spacing);

    &:first-letter {
      float: left;
      margin: 0;
      padding: 0.05em 0.1em 0 0;
      font-size: 2.5rem;
      line-height: 1;
      //--text-weight: 700;
      font-weight: 700;

      @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
        -webkit-initial-letter: 4;
        initial-letter: 4;
        /* undo other bits */
        float: none;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0 0.25em 0 0;
      }
    }

    &:first-line {
      //--text-weight: 700;
      font-weight: 500;
    }
  }
}
