.about {
  --triangle-height: 60vw;

  position: relative;
  width: 100%;
  max-width: none;
  padding: 0;
  background-color: var(--color-primary);

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 var(--triangle-height) 100vw;
    border-color: var(--color-white) var(--color-white) var(--color-black) var(--color-white);
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--triangle-height) 100vw 0 0;
    border-color: var(--color-black) var(--color-white) var(--color-white) var(--color-white);
  }

  .scroll-down-button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    transform: translateY(calc(var(--triangle-height) / -2));
  }
}

.about__container {
  @include container;
  padding: 1rem;
  overflow-x: hidden;

  @include media(">=tablet") {
    column-count: 3;
    column-gap: 2vw;
  }

  figure {
    position: relative;
    overflow: hidden;
    margin: 0 0 3rem 0;
    transform: translateX(4rem);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      z-index: 2;
      transform: translateX(0);
      transition: transform .55s linear;
    }

    &.visible {
      &::after {
        transform: translateX(100%);
      }
    }
  }

  p {
    width: 100%;
    margin: 0 0 3rem 0;
    color: var(--color-white);

    &:first-letter{
      float: left;
      margin: 0;
      padding: 0.05em 0.1em 0 0;
      font-size: 2.5rem;
      line-height: 1;
      //--text-weight: 700;
      font-weight: 700;

      @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
        -webkit-initial-letter: 4;
        initial-letter: 4;
        /* undo other bits */
        float: none;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0 0.25em 0 0;
      }
    }

    &:first-line{
      //--text-weight: 700;
      font-weight: 500;
    }
  }

}
