$triangle-height-mobile: 60vw;
$triangle-height-tablet: 62vw;
$triangle-height-desktop: 62vw;

.about {
  --triangle-height: #{$triangle-height-mobile};

  position: relative;
  width: 100%;
  max-width: none;
  padding: 0;
  background-color: var(--color-primary);

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 var(--triangle-height) 100vw;
    border-color: var(--color-white) var(--color-white) var(--color-black) var(--color-white);
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: var(--triangle-height) 100vw 0 0;
    border-color: var(--color-black) var(--color-white) var(--color-white) var(--color-white);
  }

  @include media(">=tablet") {
    background-color: var(--color-white);

    &::before,
    &::after {
      display: none;
    }
  }

  .scroll-down-button {
    --focus-border-color: var(--color-white);
    margin: 0 auto;
    background-color: transparent;
    transform: translateY(calc(var(--triangle-height) / 2 - 1em));

    &:first-of-type {
      transform: translateY(calc(var(--triangle-height) / -2 + 1em));
    }

    @include media(">=tablet") {
      display: none;
    }

    svg {
      animation: pulse 2s 3s ease-out infinite;
    }
  }
}

.about__container {
  position: relative;
  @include container;
  //padding: 1rem;
  overflow-x: hidden;

  @include media(">=tablet") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "content1 ." ". content2" "figure figure" "content3 ." ". content4";
    --triangle-height: #{$triangle-height-tablet};
    background-color: var(--color-black);

    &::before {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      align-self: start;
      z-index: 1;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 0 var(--triangle-height) 100vw;
      border-color: var(--color-white) var(--color-white) var(--color-black) var(--color-white);
    }

    &::after {
      grid-column: 1 / 3;
      grid-row: 4 / 6;
      align-self: end;
      z-index: 1;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: var(--triangle-height) 100vw 0 0;
      border-color: var(--color-black) var(--color-white) var(--color-white) var(--color-white);
    }
  }

  figure {
    position: relative;
    overflow: hidden;
    margin: 0 0 3rem 0;
    transform: translateX(4rem);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      z-index: 2;
      transform: translateX(0);
      transition: transform .55s linear;
    }

    &.visible {
      &::after {
        transform: translateX(100%);
      }
    }

    @include media(">=tablet") {
      grid-area: figure;
      justify-self: center;
      align-self: center;
      transform: none;
      margin: 1rem 0;

      img {
        width: 17.6rem;
        height: 11.8rem;
        object-fit: cover;
      }
    }
  }

  div {
    padding: 1rem;
    z-index: 2;

    @include media(">=tablet") {
      max-width: 23rem;

      &:nth-child(1) {
        grid-area: content1;

        p {
          color: var(--color-black);
        }
      }

      &:nth-child(2) {
        grid-area: content2;
      }

      &:nth-child(4) {
        grid-area: content3;
      }

      &:nth-child(5) {
        grid-area: content4;

        p {
          color: var(--color-black);
        }
      }

    }
  }

  p {
    width: 100%;
    margin: 0;
    color: var(--color-white);
    letter-spacing: var(--text-on-dark-letter-spacing);

    &:first-letter {
      float: left;
      margin: 0;
      padding: 0.05em 0.1em 0 0;
      font-size: 2.5rem;
      line-height: 1;
      //--text-weight: 700;
      font-weight: 700;

      @supports (initial-letter: 2) or (-webkit-initial-letter: 2) {
        -webkit-initial-letter: 4;
        initial-letter: 4;
        /* undo other bits */
        float: none;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
        padding: 0 0.25em 0 0;
      }
    }

    &:first-line {
      //--text-weight: 700;
      font-weight: 500;
    }
  }

}
