.footer {
  .menu__social {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 2rem 0;
  }

  .footer__copyright {
    margin: 0 auto 2rem auto;
    padding: 0 1rem;
    font-size: .888rem;
    color: var(--color-black);
    text-align: center;
  }

  .footer__credits{
    margin: 0 auto 2rem auto;
    padding: 0 1rem;
    font-size: .778rem;
    color: var(--color-black);
    text-align: center;
  }
}
