$hero-h1-line-height-min: 1.2em; // use 'em' otherwise the fluid-type mixin doesn't work
$hero-h1-line-height-max: 1.5em;
$hero-h1-font-size-min: 3.05rem;
$hero-h1-font-size-max: 12.388rem;
$hero-weight: 900;
$hero-slant: 2.73;
$hero-h2-line-height-min: 1.5em; // use 'em' otherwise the fluid-type mixin doesn't work
$hero-h2-line-height-max: 1.16em;
$hero-h2-font-size-min: 1.44rem;
$hero-h2-font-size-max: 3.33rem;

:root {
  --hero-font-size-max: #{$hero-h1-font-size-max};
  --hero-font-size-min: #{$hero-h1-font-size-min};
}


.hero {
  margin-bottom: 2rem;

  h1 {
    width: 100%;
    max-width: none;
    max-height: 28rem;
    --text-weight: $hero-weight;
    font-variation-settings: 'wght' $hero-weight, 'slnt' $hero-slant;
    margin: 0 auto;

    font-size: calc((var(--hero-font-size-min) * 1rem) + (var(--hero-font-size-max) - var(--hero-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (((var(--breakpoint-xlarge) - var(--breakpoint-small)) * 1em) )));

    @include fluid-type(font-size, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h1-font-size-min, $hero-h1-font-size-max);
    //@include fluid-type(line-height, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h1-line-height-min, $hero-h1-line-height-max);
    line-height: .7;

    span {
      display: block;
    }

    // simulate the text stroke for hollow text
    span:last-child {
      //transform: translate3d(5rem, -11rem, 0);
      color: var(--color-white);
      text-shadow: -1px -1px 0 var(--color-black),
      1px -1px 0 var(--color-black),
      -1px 1px 0 var(--color-black),
      1px 1px 0 var(--color-black);
    }
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    --text-weight: 700;
    @include fluid-type(font-size, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h2-font-size-min, $hero-h2-font-size-max);
    @include fluid-type(line-height, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h2-line-height-min, $hero-h2-line-height-max);

    span {
      display: inline-block;
      padding: 0 .5em;
      text-align: right;
      color: var(--color-white);
      background-color: var(--color-black);
    }
  }

  p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  figure {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--color-white);
      z-index: 2;
      transform: translateX(0);
      transition: transform .55s linear;
    }

    &.visible {
      &::after {
        transform: translateX(100%);
      }
    }
  }
}


// layout
//.hero {
//  display: grid;
//  grid-template-columns: repeat(4, 1fr);
//  grid-template-rows: auto;
//  grid-template-areas: "heading2 heading2 figure figure";
//  grid-gap: 2vw;
//
//  h2 {
//    grid-area: heading2;
//    grid-column: 1 / 4;
//    align-self: center;
//    z-index: 2;
//  }
//
//  //.lead {
//  //  grid-area: lead;
//  //}
//
//  img {
//    grid-area: figure;
//    //grid-column: 1 / 3;
//    //grid-row: 3 / 5;
//    //align-self: end;
//  }
//
//}
