$hero-h2-line-height-min: 1.5em; // use 'em' otherwise the fluid-type mixin doesn't work
$hero-h2-line-height-max: 1.16em;
$hero-h2-font-size-min: 1.44rem;
$hero-h2-font-size-max: 3.33rem;


.hero {

  h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    --text-weight: 700;
    @include fluid-type(font-size, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h2-font-size-min, $hero-h2-font-size-max);
    @include fluid-type(line-height, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $hero-h2-line-height-min, $hero-h2-line-height-max);

    span {
      display: inline-block;
      padding: 0 1em;
      color: $color-white;
      background-color: $color-black;
    }
  }

  p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


// layout
.hero {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "heading2 heading2 figure figure";
  grid-gap: 2vw;

  h2 {
    grid-area: heading2;
    z-index: 2;
  }
  //
  //.lead {
  //  grid-area: lead;
  //}

  img {
    grid-area: figure;
    //grid-column: 1 / 3;
    //grid-row: 3 / 5;
    //align-self: end;
  }

}
