.whatido {
  @include container;
  margin-bottom: 5rem;
  padding: 1rem;

  p {
    display: inline-block;
    max-width: var(--text-max-width);
    padding: .5rem 1rem;
    margin: 1rem;
    background-color: var(--color-black);
    --text-weight: calc(var(--p-vf-weight) * var(--h3-vf-weight-multiplier-s));
    font-family: $heading-font-family;
    font-size: calc(var(--h3-font-size-min) * 1em);
    line-height: var(--h3-line-height-min);
    letter-spacing: var(--text-on-dark-letter-spacing);
    color: var(--color-white);
    text-transform: uppercase;
    text-align: center;
  }
}

.whatido__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
