@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 300;
   src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 400;
   src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 600;
   src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: normal;
   font-weight: 700;
   src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
   font-family: 'Open Sans';
   font-style: italic;
   font-weight: 300;
   src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxh_xHqYgAV9Bl_ZQbYUxnQU.woff) format('woff');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 300;
   src: local('Roboto Light'), local('Roboto-Light'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}


#container, html.embed {
   background-color: transparent;
}

.embed #container {
   background-color: transparent;
}

#header {display: none;}

form.wufoo {
   padding: 19px;
   margin-bottom: 20px;
   border: 0;
   background-color: transparent;
   font-family: 'Open Sans',sans-serif;
   color: #515567;
}



.wufoo .info h2 {
   font-family: 'Roboto',sans-serif;
   font-size: 30px;
   line-height: 40px;
}

.wufoo .info div {
   color: #858585;
   font-family: 'Open Sans',sans-serif;
   font-size: 140%;
   font-style: normal;
   font-weight: normal;
}
.info div {
   color: #555555;
   font-size: 95%;
   line-height: 135%;
}




.wufoo input.text,
.wufoo textarea.textarea,
.wufoo input.file,
.wufoo select.select {
   font-family: 'Open Sans',sans-serif;

   display: block;
   width: 100%;
   height: 20px;

   color: #b2b2b2;
   vertical-align: middle;
   background-color: #f2f2f2;
   background-image: none;
   border: 1px solid #ccc;

   height: 60px;
   padding: 10px 16px;
   font-size: 18px;
   line-height: 1.33;
   border-radius: 0px;

   border-width: 3px;
   border-color: #f2f2f2;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
   -webkit-appearance: none;

   -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
   -webkit-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
   -moz-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
   -o-transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
   transition: all border-color ease-in-out .15s, box-shadow ease-in-out .15s ease-out;
}
.wufoo textarea.textarea {
   height: auto;
}

.wufoo li.focused label.desc,
.wufoo li.focused legend.desc,
.wufoo li.focused div,
.wufoo li.focused span,
.wufoo li.focused div label,
.wufoo li.focused span label,
.safari .wufoo li.focused input.file {
   color: #b2b2b2;
   /*text-shadow: 1px 1px #000;*/
}

.wufoo li.focused input,
.wufoo li.focused textarea{
   border-color: #1a9dd3;
}

form span.req {
   color: #b2b2b2;
   /*text-shadow: 1px 1px #FFF;*/
}

.wufoo li.focused {
   background-color: transparent;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
}
.wufoo li.focused.error {
   text-shadow: 1px 1px #FFF;
}

input.btTxt,
.btTxt {
   display: block;
   width: 100%;
   margin: 0;
   text-transform: none;
   -webkit-appearance: button;
   background-image: none;
   white-space: nowrap;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   margin-bottom: 0;
   font-weight: normal;

   border-color: #ccc;
   font-size: 18px;
   border-radius: 0px;

   background-color: transparent;

   -moz-border-radius-topright: 0;
   -moz-border-radius-bottomright: 0;
   -moz-border-radius-bottomleft: 0;
   -moz-border-radius-topleft: 0;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
   border-bottom-left-radius: 0;
   border-top-left-radius: 0;
   -moz-background-clip: padding-box;
   -webkit-background-clip: padding-box;
   background-clip: padding-box;
   -webkit-transition: all 0.3s ease-out;
   -moz-transition: all 0.3s ease-out;
   -o-transition: all 0.3s ease-out;
   transition: all 0.3s ease-out;
   outline: none;

   padding: 15px 37px;
   line-height: 1.34;
   border: 3px solid #1a9dd3;
   color: #1a9dd3;
}

.btTxt:hover,
.btTxt:active,
.btTxt.active,
.btTxt.disabled,
.btTxt[disabled] {
   color: #333333;
   background-color: #e6e6e6;
   *background-color: #d9d9d9;
}

.btTxt:active,
.btTxt.active,
.btTxt:focus,
.btTxt:hover{
   background-color: #1a9dd3;
   border-color: #1a9dd3;
   color: #ffffff;
}



.btTxt.disabled,
.btTxt[disabled] {
   cursor: default;
   background-color: #e6e6e6;
   background-image: none;
   opacity: 0.65;
   filter: alpha(opacity=65);
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   box-shadow: none;
}




.wufoo .instruct {
   border: 1px solid #1a9dd3;
   color: #C09853;
   background-color: #f2f2f2;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}


#errorLi {
   margin: 15px auto;
   padding: 1em 0;
   border: 1px solid #EED3D7;
   text-align: center;
   width: 99%;
   background-color: #F2DEDE !important;
   color: #B94A48;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

form li.error {
   background-color: #F2DEDE !important;
   display: block !important;
   margin-bottom: 3px !important;
}