---
layout: axe
---
<main id="maincontent" role="main">

  <section v-for="(results, index) in axe" :key="index">
    <h2 v-html="results.title"></h2>
    <p v-html="results.subtitle"></p>

    <table>
      <caption>{{results.subtitle}}</caption>
      <tr>
        <th scope="col">Rule</th>
        <th scope="col">Info</th>
        <th scope="col">Count</th>
        <th scope="col">Impact</th>
      </tr>

      <!--violations violationList-->
      <tr v-for="(rule, index) in results.rules" :key="index">
        <th v-html="rule.help"></th>
        <th scope="row">
          <a href="#" class="rule" data-index="{{rule.index}}">{{rule.help}}</a>
        </th>
        <td scope="row">
          <a target="_blank" v-bind:href="rule.helpUrl">help</a>
        </td>
        <td class="count" v-html="rule.nodes.length"></td>
        <td class="impact" v-html="rule.impact"></td>
      </tr>
      <!--/violations-->
    </table>
  </section>
</main>

{{> footer}}

<script src="https://unpkg.com/vue"></script>
<script>
  const app = new Vue({
    el: '#maincontent',

    data: {
      results: []
    },

    computed: {
      violations: function () {
        return this.results.violations
      },

      incomplete: function () {
        return this.results.incomplete
      },

      axe: function () {
        const axeObject = [
          {
            title: 'Violations',
            subtitle: 'These results indicate what elements failed the rules',
            rules: this.violations
          },
          {
            title: 'Incomplete',
            subtitle: 'These results were aborted and require further testing',
            rules: this.incomplete
          }
        ]

        return axeObject
      }
    },

    methods: {
      jsonRule: (rule) => {
        return JSON.stringify(rule)
      }
    },

    mounted: function () {
      const vm = this

      fetch('axe-test.json')
        .then((resp) => resp.json())
        .then((data) => {
          vm.results = data[0]
          // data[0].map(function (item) {
          //   vm.results.push(item)
          // })
          // console.dir(data)
        })
        .catch(function (error) {
          // If there is any error you will catch them here
          console.dir(error)
        })
    }
  })
</script>
<!--https://github.com/dequelabs/axe-core/blob/master/doc/examples/html-handlebars.md-->
