.hero {
  width: 100%;

  h1 {
    /* Set --text-wght value multiplier */
    //--text-weight: calc(var(--p-vf-weight) * var(--hero-vf-weight-multiplier-s));
    //--heading-weight: 600;
    //--text-width: calc(var(--p-vf-width) * .85);
    //--text-opticalsize: calc((var(--hero-font-size-min) * 16));

    font-size: calc(var(--hero-font-size-min) * 1em);
    line-height: var(--hero-line-height-min);
    margin: 1rem auto;
    //max-width: 50rem;

    @include fluid-type(font-size, map_get($breakpoints, phone), map_get($breakpoints, desktophd), 2rem, 7.3rem);

    span {
      color: $color-brand2;
    }
  }

  p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}


// layout
.hero {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-areas: "heading figure" "subheading figure";
  grid-gap: 2vw;

  h1 {
    grid-area: heading;
  }

  p {
    grid-area: subheading;
  }

  img {
    grid-area: figure;
    align-self: end;
  }

}
