.hero {
  width: 100%;

  h1 {
    /* Set --text-wght value multiplier */
    //--text-weight: calc(var(--p-vf-weight) * var(--hero-vf-weight-multiplier-s));
    --heading-weight: 600;
    //--text-width: calc(var(--p-vf-width) * .85);
    //--text-opticalsize: calc((var(--hero-font-size-min) * 16));

    font-size: calc(var(--hero-font-size-min) * 1em);
    line-height: var(--hero-line-height-min);
    margin: 1rem auto;
    //max-width: 50rem;

    @include media(">=tablet", "<desktop") {
      //font-size: calc(var(--hero-font-size-max) * 1em);
      //line-height: var(--hero-line-height-max);

      font-size: calc((var(--hero-font-size-min) * 1rem) + (var(--hero-font-size-max) - var(--hero-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1rem)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
      line-height: calc((var(--hero-line-height-min) * 1em) + (var(--hero-line-height-max) - var(--hero-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    }

    @include media(">desktop") {
      //font-size: calc(var(--hero-font-size-max) * 1em);
      //line-height: var(--hero-line-height-max);

      // calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      font-size: calc((var(--hero-font-size-min) * 1rem) + (var(--hero-font-size-max) - var(--hero-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1rem)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
      line-height: calc((var(--hero-line-height-min) * 1em) + (var(--hero-line-height-max) - var(--hero-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    }

    //@media screen and (min-width: 24.15em) {
    //  line-height: calc((var(--hero-line-height-min) * 1em) + (var(--hero-line-height-max) - var(--hero-line-height-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    //  font-size: calc((var(--hero-font-size-min) * 1em) + (var(--hero-font-size-max) - var(--hero-font-size-min)) * ((100vw - (var(--breakpoint-small) * 1em)) / (var(--breakpoint-xlarge) - var(--breakpoint-small))));
    //}
    //@media screen and (min-width: 43.75em) {
    //  --text-weight: calc(var(--p-vf-weight) * var(--hero-vf-weight-multiplier-m));
    //  //--text-width: calc(var(--p-vf-width) * 1.05);
    //  //--text-opticalsize: calc(((var(--hero-font-size-min) + ((var(--hero-font-size-max) - var(--hero-font-size-min)) / 2)) * 16));
    //  //max-width: 60rem;
    //}
    //@media screen and (min-width: 60.25em) {
    //  --text-weight: calc(var(--p-vf-weight) * var(--hero-vf-weight-multiplier-l));
    //  line-height: var(--hero-line-height-max);
    //  //max-width: 70rem;
    //}
    //@media (min-width: 75em) {
    //  //--text-opticalsize: calc((var(--hero-font-size-max) * 16));
    //  font-size: calc(var(--hero-font-size-max) * 1em);
    //  line-height: var(--hero-line-height-max);
    //  //max-width: 75rem;
    //}
  }

  p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
