<section id="about" class="about-area  section--light">
  <div class="grid-container">
    <div class="grid-x">
      <div class="small-12 cell">
        <div class="section-title">
          <h2>About Me</h2>
        </div>
      </div>
    </div>

    <div class="grid-x">
      <div class="small-12 medium-6 cell">
        <div class="about-area__howdy">
          <h3>Howdy!</h3>
          <p>
            I was born and currently live in Milan, Italy. I am a Front-end Architect &amp; Developer, started working
            in 1999 with Microsoft technologies, starting soon to learn coding in HTML, CSS and JavaScript.
          </p>
          <p>
            In the 2007, I started learning about <strong>Usability</strong> and <strong>User Experience</strong>,
            spending months studying books and articles of Jakob Nielsen, Alan Cooper, Steve Krug, Luke Wroblewski, and
            others usability guru.
            In the meantime my development and user interface design skills evolved towards a more clean approach,
            putting the end user at the center of the experience.
            As I matured as full-stack web engineer, in 2016 I started to focus mostly on front-end development.
          </p>
          <p>I’m quite into japanese culture and language, I love to climb mountains, to read fantasy & science-fictions
            books & movies, and my beautiful cat <strong>"Tati"</strong>.
          </p>
        </div>
      </div>

      <div class="small-12 medium-6 cell">
        <img class="thumbnail" src="/assets/img/me-and-tati.jpg" alt="Picture of me and my cat Tati">
      </div>
    </div>
  </div>
</section>
