<section id="about" class="about-area">
  <h2>About Me</h2>

  <div class="about-area__content">
    <div class="about-area__howdy">
      <h3>Howdy!</h3>
      <p>
        I was born and currently live in Milan, Italy. I am a Front-end Architect &amp; Developer, started working
        in 1999 with Microsoft technologies, starting soon to learn coding in HTML, CSS and JavaScript.
      </p>
      <p>
        In the 2007, I started learning about <strong>Usability</strong> and <strong>User Experience</strong>,
        spending months studying books and articles of Jakob Nielsen, Alan Cooper, Steve Krug, Luke Wroblewski, and
        others usability experts.
        In the meantime my development and user interface design skills evolved towards a more clean approach,
        putting the end user at the center of the experience.
        As I matured as full-stack web engineer, in 2016 I started to focus mostly on front-end web development.
      </p>
      <p>I’m quite into japanese culture and language, I love to climb mountains, to read fantasy & science-fictions
        books & movies, and my beautiful cat <strong>"Tati"</strong>.
      </p>
    </div>
    <!--<img class="thumbnail" src="/assets/img/me-and-tati.jpg" alt="Picture of Marcello and my cat Tati">-->
    <picture>
      <source
        media="(max-width: 767px)"
        sizes="(max-width: 1280px) 100vw, 1280px"
        srcset="
/assets/img/about/me-and-tati_hpuvem_c_scale,w_320.jpg 320w,
/assets/img/about/me-and-tati_hpuvem_c_scale,w_484.jpg 484w,
/assets/img/about/me-and-tati_hpuvem_c_scale,w_609.jpg 609w,
/assets/img/about/me-and-tati_hpuvem_c_scale,w_1280.jpg 1280w">
      <img class="thumbnail"
        sizes="(max-width: 1280px) 100vw, 1280px"
        srcset="
/assets/img/about/me-and-tati_hpuvem_c_scale,w_1280.jpg 1280w"
        src="/assets/img/about/me-and-tati_hpuvem_c_scale,w_1280.jpg"
        alt="Picture of Marcello and my cat Tati">
    </picture>
  </div>
</section>
