<footer>
  <p class="footer__copyright">Copyright &copy; 2017 Marcello Palmitessa</p>
  <div class="footer__credits">
    <p>Special thanks to my friend <a rel="noopener noreferrer" href="http://laiskantor.com/">Lais Kantor Caserta</a> for the design support.</p>
  </div>
</footer>
