<footer class="grid-x">
  <p class="footer__copyright small-12 medium-6 large-4 cell">Copyright &copy; 2017 Marcello Palmitessa</p>
  <div class="footer__credits small-12 medium-12 large-4 cell">
    <p>Special thanks to my friend <a rel="noopener noreferrer" href="http://laiskantor.com/">Lais Kantor Caserta</a>
    </p>
  </div>
</footer>
