<!-- Footer
============================================= -->
<footer id="footer" class="dark">

  <div class="container">

    <!-- Footer Widgets
    ============================================= -->
    <div class="footer-widgets-wrap clearfix">


    </div>
  </div>

  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">

    <div class="container clearfix">

      <div class="col_half">
        Copyrights &copy; {{date format="YYYY"}} Marcello Palmitessa<br>
        <div class="copyright-links">
          Proudly published with <a href="https://ghost.org">Ghost</a>
        </div>
      </div>

      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="http://www.twitter.com/marcellopalmit" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://www.google.com/+MarcelloPalmitessa" class="social-icon si-small si-borderless si-gplus">
            <i class="icon-gplus"></i>
            <i class="icon-gplus"></i>
          </a>

          <a href="https://github.com/aozora" class="social-icon si-small si-borderless si-github">
            <i class="icon-github"></i>
            <i class="icon-github"></i>
          </a>

          <a href="http://it.linkedin.com/in/marcellopalmitessa" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>

        <div class="clear"></div>

        <i class="icon-envelope2"></i> info@marcellop.com <span class="middot">&middot;</span>
      </div>

    </div>

  </div><!-- #copyrights end -->

</footer>
