<header>
  <a href="#maincontent">Skip to main content</a>

  <!--<nav id="main-menu" class="main-menu">-->
    <!--<div class="main-menu__topbar">-->
      <!--<a class="main-menu__title" href="/">Marcello Palmitessa</a>-->
      <!--<button class="main-menu__toggle" type="button">Menu</button>-->
    <!--</div>-->

    <!--<ul class="menu" v-smoothscroll="{ duration : 500 }">-->
      <!--<li><a href="#home">Home</a></li>-->
      <!--<li><a href="#about">About</a></li>-->
      <!--<li><a href="#whatido">What I do</a></li>-->
      <!--<li><a href="#experience">Experience</a></li>-->
      <!--<li><a href="#contact">Contact</a></li>-->
    <!--</ul>-->

  <!--</nav>-->

  <nav id="main-menu" class="main-menu">
    <button aria-expanded="false">Menu</button>
    <ul hidden class="menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#whatido">What I do</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>





  <!---->
  <!--<nav class="title-bar menu-small">-->
    <!--<div class="title-bar-title">-->
      <!--&lt;!&ndash;<img role="presentation" aria-hidden="true" class="title-bar__cat" src="/assets/img/catforlogo.png" alt=""/>&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="title-bar__marcello" src="/assets/img/marcello.svg" alt="marcello">&ndash;&gt;-->
      <!--Marcello <span>Palmitessa</span>-->
    <!--</div>-->
    <!--<button class="menu-icon" type="button" v-on:click.prevent="toggleMenu">Menu</button>-->
  <!--</nav>-->

  <!--<nav id="main-menu" class="top-bar menu-large">-->
    <!--<div class="menu-container">-->
      <!--<div class="top-bar-left show-for-medium">-->
        <!--<ul class="vertical menu">-->
          <!--<li class="top-bar__logo menu-text">-->
            <!--&lt;!&ndash;<img role="presentation" aria-hidden="true" src="/assets/img/catforlogo.png" alt="marcello"/>&ndash;&gt;-->
            <!--Marcello Palmitessa-->
            <!--&lt;!&ndash;<img role="presentation" aria-hidden="true" class="main-menu__marcello" src="/assets/img/marcello.svg" alt="marcello">&ndash;&gt;-->
            <!--&lt;!&ndash;<span></span>&ndash;&gt;-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->

      <!--<div class="top-bar-right">-->
        <!--<ul class="vertical medium-horizontal menu" v-smoothscroll="{ duration : 500 }">-->
          <!--<li><a href="#home">Home</a></li>-->
          <!--<li><a href="#about">About</a></li>-->
          <!--<li><a href="#whatido">What I do</a></li>-->
          <!--<li><a href="#experience">Experience</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
</header>
