<header>
  <a href="#maincontent">Skip to main content</a>

  <nav id="main-menu" class="main-menu">
    <svg class="marcello" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1908 411">
      <path d="M342.016 131.441a242.96 242.96 0 0 1-22.4 33.951c-12.6 16.45-34.65 38.851-54.6 55.3-20.3-21.351-31.85-32.2-60.551-55.651l-47.951 33.6c25.551 21 42 37.1 70.352 69.652 29.05 32.9 46.55 57.051 67.551 91.351l52.5-40.95c-16.8-22.751-26.6-35.351-41.651-53.2 46.2-38.851 74.9-73.5 110.952-134.053 8.75-14.7 10.5-17.15 16.1-22.4l-33.6-37.8c-7.351 2.45-12.951 3.5-24.151 3.5l-191.8.35c-27.651 0-38.5-.7-57.751-2.8v61.6c15.4-1.4 27.65-1.75 56.7-1.75zm146.307-74.2c1.05 9.1 1.4 16.8 1.4 32.2 0 90.652-5.6 134.053-22.05 168.353-10.851 23.1-21.7 37.8-41.651 55.651 22.4 15.751 32.2 25.551 50.051 49 23.8-25.2 37.1-44.1 48.651-70 16.8-38.151 23.8-77 25.9-150.153 2.45-69.3 2.45-69.3 3.85-81.2zm99.4-1.75a208.009 208.009 0 0 1 1.4 27.3v12.6l-1.75 207.2c0 14.35-.7 20.3-3.85 29.4l30.1 31.5c4.55-2.8 7.35-3.85 17.15-7.35 35.351-12.95 52.5-22.05 73.5-39.9 26.6-22.75 44.8-49.7 60.551-88.9-19.951-15.4-29.051-24.5-46.551-46.2-6.3 23.8-14.7 42-27.3 59.851-11.9 16.45-23.1 26.6-42 38.5l1.75-183.4c.35-20.65.7-26.25 2.8-40.6h-65.8zm438.905-10.5c-13.3 6.65-26.25 11.55-44.1 16.1-39.9 10.15-106.751 18.2-153.3 18.2-5.25 0-11.55 0-23.451-.7 10.151 21 14.351 33.6 17.851 53.2 56.351-2.45 59.151-2.45 92.4-5.95v9.8c0 12.251 0 18.9-.7 29.4h-73.5c-32.551 0-40.951-.35-55.651-2.45v57.4c14.7-1.4 22.75-1.75 54.6-1.75h68.951c-3.15 20.65-7.7 32.9-17.15 45.5-15.05 21-36.751 34.65-79.1 50.05 21 17.5 30.1 29.051 43.4 52.5 16.8-7.35 23.8-11.2 33.951-17.85 24.5-15.4 45.151-35.7 58.1-56 12.6-20.65 19.25-42 23.45-74.2h62.3c31.5 0 39.9.35 54.25 1.75v-57.4c-15.05 1.75-28.35 2.45-55.3 2.45h-57.4c.35-7.7.7-30.1 1.05-47.6 28-5.25 47.251-10.15 67.9-16.8 10.85-3.85 10.85-3.85 19.6-5.95zm266.7 147h33.6c21.7 0 36.05.7 45.85 1.75v-53.55c-13.65 1.75-23.45 2.45-45.85 2.45H1204.78c-21 0-31.5-.7-45.15-2.45v53.551c15.05-1.4 22.4-1.75 45.5-1.75h32.2v104.3h-52.5c-25.55 0-34.3-.35-47.25-2.1v53.2c16.8-1.4 22.05-1.4 47.6-1.4h162.75c24.85 0 34.65.35 47.25 1.4v-53.2c-14 1.75-24.85 2.1-47.25 2.1h-54.6v-104.3zm381.5 134.4v23.45h63.35c-1.75-14-2.45-30.8-2.45-57.751V114.641c0-16.45.35-29.05 1.05-41.3-16.45 1.4-21.7 1.4-43.4 1.4H1504.73c-23.1 0-30.1-.35-42.35-1.4 1.05 14.35 1.4 25.2 1.4 40.251v179.9c0 25.9-.7 37.8-2.8 57.051h63.7V326.4h150.15zm0-56H1524.68v-139.65h150.15v139.653z"></path>
    </svg>
    <button aria-expanded="false">Menu <span aria-hidden="true">&#x25be;</span></button>
    <ul class="menu">
      <li><a tabindex="-1" href="#home">Home</a></li>
      <li><a tabindex="-1" href="#about">About</a></li>
      <li><a tabindex="-1" href="#whatido">What I do</a></li>
      <li><a tabindex="-1" href="#experience">Experience</a></li>
      <li><a tabindex="-1" href="#contact">Contact</a></li>
    </ul>
  </nav>

</header>
