<header>
  <a href="#maincontent">Skip to main content</a>

  <nav id="main-menu" class="main-menu">
    <button aria-expanded="false">Menu <span aria-hidden="true">&#x25be;</span></button>
    <ul class="menu">
      <li><a tabindex="-1" href="#home">Home</a></li>
      <li><a tabindex="-1" href="#about">About</a></li>
      <li><a tabindex="-1" href="#whatido">What I do</a></li>
      <li><a tabindex="-1" href="#experience">Experience</a></li>
      <li><a tabindex="-1" href="#contact">Contact</a></li>
    </ul>
  </nav>

</header>
