<section class="hero">

  <div class="hero__headings">
    <h1>
      <small>Hello, my name is</small>
      Marcello Palmitessa
    </h1>
    <p>
      I am a Front-end architect and developer from Italy with a strong focus on responsive web design, performance and
      accessibilty.
    </p>
    <p>
      I love to work with developers and designers to imagine and shape the future.
    </p>
  </div>

  <picture>
    <source
      media="(max-width: 767px)"
      sizes="(max-width: 767px) 100vw, 767px"
      srcset="
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_320.jpg 320w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_625.jpg 625w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_767.jpg 767w">
    <img
      sizes="(max-width: 2000px) 100vw, 2000px"
      srcset="
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_768.jpg 768w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_1051.jpg 1051w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_1293.jpg 1293w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_1508.jpg 1508w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_1708.jpg 1708w,
/assets/img/hero/marcello-hero_fzgybc_c_scale,w_2000.jpg 2000w"
      src="/assets/img/hero/marcello-hero_fzgybc_c_scale,w_2000.jpg"
      alt="">
  </picture>
</section>
