<section class="hero">
  <img
    sizes="(max-width: 2000px) 100vw, 2000px"
    srcset="/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_320.png 320w,/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_779.png 779w,/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_1118.png 1118w,/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_1401.png 1401w,/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_1675.png 1675w,/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_2000.png 2000w"
    src="/assets/img/hero/marcello-hero_jsyqzb_c_scale,w_2000.png"
    alt="">

  <div class="hero__headings">
    <h1>
      <small>Hello, my name is</small>
      Marcello Palmitessa
    </h1>
    <p>
      I am a Front-end architect and developer from Italy with a strong focus on responsive web design, performance and
      accessibilty.
      I am an advocate that developers and designers must work together to imagine and shape the future.
    </p>
  </div>
</section>
