<section id="home" class="hero">

  <!--<svg class="shape" preserveAspectRatio="none" viewBox="0 0 1517 44" width="100%">-->
    <!--<polygon points="0.55 0.14 0.55 44 84.8 44 84.8 44 210.5 44 210.5 44 224.3 44 224.3 44 284.1 44 284.1 44 307.1 44 307.1 44 351.6 44 351.6 44 437.5 44 437.5 44 466.6 44 466.6 44 508 44 508 44 558.6 44 558.6 44 584.7 44 584.7 44 623 44 623 44 773.3 44 773.3 44 793.2 44 793.2 44 807 44 807 44 822.3 44 822.3 44 883.7 44 883.7 44 902.1 44 902.1 44 909.7 44 909.7 44 922 44 922 44 954.2 44 954.2 44 971.1 44 971.1 44 1007.9 44 1007.9 44 1062 44 1062 44 1072 44 1072 44 1207 44 1207 44 1223 44 1223 44 1241 44 1241 44 1256 44 1256 44 1267 44 1267 44 1279 44 1279 44 1304 44 1304 44 1322 44 1322 44 1347 44 1347 44 1368 44 1368 44 1387 44 1387 44 1445 44 1445 44 1463 44 1463 44 1517 44 1517 0.14" fill="#67B8EE" fill-rule="nonzero">-->
      <!--<animate id="wall" begin="indefinite" attributeName="points" dur="500ms" to="0.55 0.14 0.55 500.6 84.8 501.8 84.8 454.3 210.5 454.3 210.5 712.7 224.3 712.7 224.3 647.1 284.1 647.1 284.1 619.6 307.1 619.6 307.1 589.2 351.6 589.2 351.6 296.6 437.5 296.6 437.5 271.9 466.6 271.9 466.6 304.2 508 304.2 508 347.9 558.6 347.9 558.6 321.3 584.7 321.3 584.7 338.4 623 338.4 623 247.2 773.3 247.2 773.3 317.5 793.2 317.5 793.2 161.7 807 161.7 807 135.11 822.3 135.11 822.3 76.21 883.7 76.21 883.7 144.61 902.1 144.61 902.1 289 909.7 298.5 909.7 378.3 922 378.3 922 492.3 954.2 492.3 954.2 203.5 971.1 203.5 971.1 175 1007.9 175 1007.9 197.8 1062 197.8 1062 342.2 1072 342.2 1072 300.4 1207 300.4 1207 340.3 1223 340.3 1223 699.4 1241 699.4 1241 750.7 1256 750.7 1256 657.6 1267 657.6 1267 585.4 1279 585.4 1279 558.8 1304 558.8 1304 581.6 1322 581.6 1322 710.8 1347 710.8 1347 591.1 1368 591.1 1368 560.7 1387 560.7 1387 581.6 1445 581.6 1445 549.3 1463 549.3 1463 581.6 1517 581.6 1517 0.14"></animate>-->
    <!--</polygon>-->
  <!--</svg>-->


  <div class="hero__headings">
    <h1>
      <small>Hello, my name is</small>
      Marcello Palmitessa
    </h1>
    <p>
      I am a Front-end Web Developer from Italy with a strong focus on responsive web design, accessibilty, semantic markup, and performance.
    </p>
    <p class="hero__social">
      <a rel="noopener noreferrer" target="_blank" href="http://www.twitter.com/marcellopalmit" class="button">
        <svg width="24px" height="20px" viewBox="0 0 24 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g stroke="none" stroke-width="1" fill-rule="evenodd">
            <g fill-rule="nonzero">
              <g>
                <path d="M24,2.557 C23.117,2.949 22.168,3.213 21.172,3.332 C22.189,2.723 22.97,1.758 23.337,0.608 C22.386,1.172 21.332,1.582 20.21,1.803 C19.313,0.846 18.032,0.248 16.616,0.248 C13.437,0.248 11.101,3.214 11.819,6.293 C7.728,6.088 4.1,4.128 1.671,1.149 C0.381,3.362 1.002,6.257 3.194,7.723 C2.388,7.697 1.628,7.476 0.965,7.107 C0.911,9.388 2.546,11.522 4.914,11.997 C4.221,12.185 3.462,12.229 2.69,12.081 C3.316,14.037 5.134,15.46 7.29,15.5 C5.22,17.123 2.612,17.848 -1.77635684e-15,17.54 C2.179,18.937 4.768,19.752 7.548,19.752 C16.69,19.752 21.855,12.031 21.543,5.106 C22.505,4.411 23.34,3.544 24,2.557 Z"></path>
              </g>
            </g>
          </g>
        </svg>
        <span class="visuallyhidden">Twitter</span>
      </a>

      <a rel="noopener noreferrer" target="_blank" href="http://it.linkedin.com/in/marcellopalmitessa" class="button">
        <svg aria-hidden="true" width="24px" height="23px" viewBox="0 0 24 23" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g stroke="none" stroke-width="1" fill-rule="evenodd">
            <g fill-rule="nonzero">
              <g>
                <path d="M4.98,2.5 C4.98,3.881 3.87,5 2.5,5 C1.13,5 0.02,3.881 0.02,2.5 C0.02,1.12 1.13,0 2.5,0 C3.87,0 4.98,1.12 4.98,2.5 Z M5,7 L0,7 L0,23 L5,23 L5,7 Z M12.982,7 L8.014,7 L8.014,23 L12.983,23 L12.983,14.601 C12.983,9.931 19.012,9.549 19.012,14.601 L19.012,23 L24,23 L24,12.869 C24,4.989 15.078,5.276 12.982,9.155 L12.982,7 Z"></path>
              </g>
            </g>
          </g>
        </svg>
        <span class="visuallyhidden">LinkedIn</span>
      </a>

      <a rel="noopener noreferrer" target="_blank" href="https://medium.com/@marcellop" class="button">
        <svg width="25" height="19" viewBox="0 0 25 19" xmlns="http://www.w3.org/2000/svg"><path d="M3.56 14.373c0 .555-.027.687-.318 1.03L.785 18.388v.396H7.76v-.396l-2.457-2.985c-.29-.343-.344-.502-.344-1.03V5.42l6.126 13.364h.714L17.056 5.42v10.644c0 .29 0 .342-.185.528l-1.847 1.796v.396h9.19v-.396l-1.822-1.796c-.183-.186-.21-.238-.21-.528V2.937c0-.29.027-.344.21-.528L24.215.61V.216h-6.47L13.12 11.758 7.92.216h-6.79v.396l2.14 2.64c.24.292.29.37.29.768v10.353h.002z" fill-rule="nonzero"/></svg>
        <span class="visuallyhidden">Medium</span>
      </a>
    </p>
    <p>
      I love to work with developers and designers to imagine and shape the future.
    </p>
  </div>

  <picture>
    <source
      media="(max-width: 767px)"
      sizes="(max-width: 1099px) 100vw, 1099px"
      srcset="
/assets/img/hero/marcello-hero_oesa3w_ar_1_1,c_fill,g_auto__c_scale,w_320.jpg 320w,
/assets/img/hero/marcello-hero_oesa3w_ar_1_1,c_fill,g_auto__c_scale,w_654.jpg 654w,
/assets/img/hero/marcello-hero_oesa3w_ar_1_1,c_fill,g_auto__c_scale,w_892.jpg 892w,
/assets/img/hero/marcello-hero_oesa3w_ar_1_1,c_fill,g_auto__c_scale,w_1099.jpg 1099w">
    <img class="lazyload blur-up"
      sizes="(max-width: 2000px) 100vw, 2000px"
      srcset="
/assets/img/hero/marcello-hero_oesa3w_c_scale,w_768.jpg 768w,
/assets/img/hero/marcello-hero_oesa3w_c_scale,w_1237.jpg 1237w,
/assets/img/hero/marcello-hero_oesa3w_c_scale,w_1576.jpg 1576w,
/assets/img/hero/marcello-hero_oesa3w_c_scale,w_2000.jpg 2000w"
         src="/assets/img/hero/marcello-hero_lq20.jpg"
      alt="">
  </picture>
</section>
