<div class="section parallax nomargin notopborder dark" style='background-image: url({{asset "images/parallax/2b.jpg"}}); padding: 100px 0;' data-stellar-background-ratio="0.3">
   <div class="container clearfix">

      <div class="bottommargin">

         <div class="heading-block">
            <h2>Making the simple complicated is commonplace; making the complicated simple, awesomely simple,
               that’s
               creativity</h2>
            <span>Charles Mingus</span>
            <div class="clear"></div>
         </div>

   </div>
</div>

