.AppLoaderContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  div {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: var(--color-black);
    z-index: 110;
  }

  div:first-child {
    height: 65vh;
    align-items: flex-end;
    clip-path: polygon(0% 0%, 25.48% 0px, 51.25% 0px, 74.91% 0px, 100% 0px, 100% 66.2%, 75.37% 99.92%, 51.19% 74.8%, 25.07% 89.27%, 0% 61.87%);
  }

  div:nth-child(2) {
    height: 60vh;
    clip-path: polygon(0% 0%, 25.18% 29.84%, 51.1% 14.14%, 75.51% 41.24%, 100% 4.37%, 100% 100%, 75.07% 100%, 50.29% 100%, 25.22% 100%, 0% 100%);
  }
}

.Hi {
  //position: absolute;
  --hero-hi-font-size-min: 1.8rem;
  --hero-hi-font-size-max: 2.18rem;

  font-family: var(--heading-font-family);
  --text-weight: var(--hero-weight);
  font-size: clamp(var(--hero-hi-font-size-min), 8vw, var(--hero-hi-font-size-max));
  line-height: var(--hero-hi-line-height-min);
  color: var(--color-white);
  z-index: 111;
}
