// SMACSS Layout Rules
// ----------------------------
// Layout styles can also be divided into major and minor styles based on reuse.
// Major layout styles such as header and footer are traditionally styled using
// ID selectors but take the time to think about the elements that are common
// across all components of the page and use class selectors where appropriate.
// ===============================================================================

main {
  position: relative;
  margin: 0;
  //margin-top: $menu-height;
}

main > section,
main > article {
  max-width: $sectionMaxWidth;
  margin: 0 auto;
  padding: 0;
}

main > section.full-width {
  width: 100%;
  max-width: none;
  padding: 0;
}



// *******************
// GRID
// *******************
main {
  //display: grid;
  //grid-template-columns: fit-content(5.833rem) repeat(5, 1fr);
  //grid-template-rows: 100px auto;
  //gap: 3vw;
}

//.home-logo {
//  grid-column: 1;
//  grid-row: 2 / 4;
//  width: 5.833rem;
//  height: 3.72rem;
//
//  svg {
//    width: 5.833rem;
//    height: 3.72rem;
//  }
//
//  @include media(">=tablet") {
//    grid-column: 1;
//  }
//}
//
//.hero {
//  grid-column: 2/5;
//  grid-row: 2;
//}
//
//.about {
//  grid-column: 2/5;
//  grid-row: 3;
//}
