.post {

  h1 {
    line-height: 1.2;

    @include media('>=tablet') {
      line-height: 1.2;
    }
  }

  header,
  .post__body,
  footer {
    @include container;
  }

  .post__body,
  footer {
    max-width: var(--text-max-width);
  }

  .post__metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0 0 1rem 0;
      padding: 0 .5rem;
      background-color: var(--color-black);
      color: var(--color-white);
    }
  }

  figure {
    margin: calc(2 * var(--text-base-size)) 0;

    img {
      clip-path: polygon(0% 7.61%, 18.65% 3.83%, 51.25% 8.81%, 75.5% 3.24%, 100.12% 9.81%, 99.90% 93.76%, 77.54% 99.91%, 54.52% 99.63%, 28.63% 96.38%, 0% 100%);
    }
  }

  figcaption {
    margin-right: 1rem;
    text-align: right;
    font-size: .8rem;
  }
}

.post__body {
  //h1 {
  //  margin-bottom: calc(1 * var(--text-base-size));
  //}

  h2,
  h3 {
    //margin: calc(2 * var(--text-base-size)) 0;
  }

  h2 {
    padding: .5rem calc(1 * var(--text-base-size));
    background-color: var(--color-black);
    color: var(--color-white);
  }

  h3 {
    font-weight: 700;
  }

  p a{
    overflow-wrap: break-word;
  }

}


.post__signature {
  font-family: 'BonVivant-Regular', serif;
  font-size: 1.3rem;
}
