$whatido-item-title-line-height-min: 1.5em; // use 'em' otherwise the fluid-type mixin doesn't work
$whatido-item-title-line-height-max: 1.5em;
$whatido-item-title-font-size-min: 2rem;
$whatido-item-title-font-size-max: 3.45rem;

.whatido {
  @include container;
  margin-bottom: 5rem;
  padding-top: calc(3 * var(--text-base-size));

  h2 {
    width: 100%;
    max-width: none;
    padding: 0 1rem;
  }

  ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 1rem;
    overflow: hidden;
  }

  li {
    width: 100%;
    grid-column: 1/6;
    margin-bottom: 3rem;
    overflow: hidden;

    // this is overriden by each li in the template to "randomize" the horizontal alignment
    //--whatido-justify: flex-end;

    //display: flex;
    //flex-wrap: wrap;
    //justify-content: var(--whatido-justify);
  }
  .whatido__title {
    position: relative;
    width: 100%;
    max-width: none;
    margin: 0 auto 1rem auto;
    padding: 0;
    color: var(--color-black);
    --text-weight: 700;
    font-family: var(--body-font-family);

    @include fluid-type(font-size, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $whatido-item-title-font-size-min, $whatido-item-title-font-size-max);
    @include fluid-type(line-height, map_get($breakpoints, phone), map_get($breakpoints, desktophd), $whatido-item-title-line-height-min, $whatido-item-title-line-height-max);
    text-transform: capitalize;
    z-index: 2;

    @include media('>=tablet') {
      padding: 0;
      color: var(--color-black);
      background-color: transparent;
    }
  }

  .whatido__description {
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0;
    padding: 0 0 1rem 0;
    color: var(--color-black);
    z-index: 1;
    transition: clip-path 1.5s ease;
  }



}

