// SMACSS Layout Rules
// ----------------------------
// Layout styles can also be divided into major and minor styles based on reuse.
// Major layout styles such as header and footer are traditionally styled using
// ID selectors but take the time to think about the elements that are common
// across all components of the page and use class selectors where appropriate.
// ===============================================================================

main {
  position: relative;
  margin: 0;
  //margin-top: $menu-height;
}

main > section,
main > article {
  max-width: $maxWidth;
  margin: 0 auto;
  padding: 0 1.5rem;
}

main > section.full-width {
  width: 100%;
  max-width: none;
  padding: 0;
}
