
.visuallyhidden {
  @include visuallyhidden;
}

/* SELECTION
  ============== */
::selection {
  background-color: $selection-color;
  text-shadow: none;
  color: $color-black;
}

/* FOCUS
  ============== */
*:focus {
  outline: $focus-outline;
  box-shadow: $focus-box-shadow;
}

// Gets rid of the annoying outline for mouse users but preserves it for keyboard users,
// and is ignored by browsers that don’t support :focus-visible
:focus:not(:focus-visible) {
  outline: none
}

/* PLACEHOLDER
  ============== */
::-webkit-input-placeholder {
  color: $placeholder-color;
  font-style: italic;
}

::-moz-placeholder {
  color: $placeholder-color;
  font-style: italic;
}

:-ms-input-placeholder {
  color: $placeholder-color;
  font-style: italic;
}

:-moz-placeholder {
  color: $placeholder-color;
  font-style: italic;
}

input::-moz-placeholder,
textarea::-moz-placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  opacity: 1;
}
