{{!< default}}

{{> slider}}

<!-- Content
============================================= -->
<section id="content">

   <div class="content-wrap">

     {{> quote}}
     {{> portfolio-mini}}

   </div>
</section>
