//  Settings
//  -----------------------------
@import './mixins/mixins';

// 1. Global
// ---------
$render-vertical-rhythm-lines: false;

// Include-Media breakpoints
// ------------------
$breakpoints: (
  phone: 25.875em, // 414px,
  tablet: 48em, // 768px,
  desktop: 64em, // 1024px,
  desktophd: 75em // 1200px
);



$use-variable-font: false;
$use-variable-font-for-headings: false;





// Main Menu
// -----------
$menu-background: transparent;
$menu-height: 3.33rem; // 60px


// Forms
// -----------
$form-field-max-width: 20rem;
$form-field-border: 2px solid var(--color-black);
$form-border-radius: 2px;


// Z-INDEXES
// -----------
// list in ascending order
// -----------
$menu-zindex: 101;
$menu-toggle-button-zindex: $menu-zindex + 2;
$skiplink-zindex: $menu-toggle-button-zindex + 1;
$home-mobile-loader-zindex: 110;
