@mixin visuallyhidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

@mixin container {
  max-width: var(--section-max-width);
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;

  @media (min-width: 48em) {
    padding: 0 2rem;
  }
}

@mixin container-layout-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns-mobile), 1fr);
  grid-template-rows: auto;
  grid-gap: var(--grid-gap);
  gap: var(--grid-gap);
  align-items: center;
  width: 100%;

  @media (min-width: 48em) {
    grid-template-columns: repeat(var(--grid-columns-tablet), 1fr);
  }

  @media (min-width: 64em) {
    grid-template-columns: repeat(var(--grid-columns-desktop), 1fr);
  }
}

@mixin underline-link {
  a {
    font-family: inherit;
    font-weight: inherit;

    text-decoration: none;
    background-image: linear-gradient(transparent calc(100% - 2px), currentColor 2px);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 1s;

    &:hover {
      background-size: 100% 100%;
    }
  }
}
