/** ****************************************************************

    CSS Variables

    Font rules are setup in base.scss for all major
    elements using CSS variables.
    When there's need to override a font rule, there's no need to
    set again the rules, but it's best to just set a new value for
    a CSS variable for a font rule.

    **************************************************************** */
@import './settings';

:root {
  // ################################################################
  //    COLORS
  // ################################################################
  --color-primary: #000;
  --color-black: #000;
  --color-white: #fff;
  // PANTONE Color of the Year 2017
  // https://www.pantone.com/color-intelligence/color-of-the-year/color-of-the-year-2018-tools-for-designers
  --color-pantone: #5F4B8B;

  /* Breakpoint variables */
  --breakpoint-small: #{strip-unit(map_get($breakpoints, phone))};
  --breakpoint-medium: #{strip-unit(map_get($breakpoints, tablet))};
  --breakpoint-large: #{strip-unit(map_get($breakpoints, desktop))};
  --breakpoint-xlarge: #{strip-unit(map_get($breakpoints, desktophd))};

  /* sectioning */
  --var-section-margin: 3rem;

  /* type modular scale */
  // body font size
  --text-base-size: 1rem; // 18px - html is set to 112.5%

  // type scale
  --text-scale-ratio: 1.25; // base mobile ratio
  //--text-base: 1rem;
  --text-scale-1: calc(1rem * var(--text-scale-ratio)); // h3
  --text-scale-2: calc(var(--text-scale-1) * var(--text-scale-ratio)); // h2
  --text-scale-3: calc(var(--text-scale-2) * var(--text-scale-ratio)); // h1

  --text-scale-4: calc(var(--text-scale-3) * var(--text-scale-ratio));
  --text-scale-5: calc(var(--text-scale-4) * var(--text-scale-ratio));
  --text-scale-6: calc(var(--text-scale-5) * var(--text-scale-ratio)); // h2 hero


  /* max text sizes  */
  --text-max-width: 38rem;

  /* focus state */
  --focus-outline: none;
  --focus-box-shadow: none;
  --focus-border-size: 2px;
  --focus-border-style: dashed;
  --focus-border-color: var(--color-black);


  /* vf initial values */
  --heading-weight: 700;
  --text-weight: var(--body-font-weight);
  --text-width: 100;
  // --text-opticalsize: 16;

  /* spacing */
  --text-letter-spacing: 1.2px;
  --text-on-dark-letter-spacing: 2px;

  /* Paragraph variables */
  --p-line-height-min: 1.5;
  --p-line-height-max: 1.6;
  --p-font-size-min: 1.0;
  --p-font-size-max: 1.25;
  //--p-vf-weight: var(--text-weight);
  //--p-vf-width: var(--text-width);

  /* H1 variables */
  --h1-font-size: var(--text-scale-6);
  --h1-line-height: 1.5;

  /* H2 variables */
  --h2-font-size: var(--text-scale-2);
  --h2-line-height: 1.5;

  /* H3 variables */
  --h3-font-size: var(--text-scale-2);
  --h3-line-height: 1.5;


  /* Dropcap variables */
  --dc-line-height: .8;
  --dc-font-size: 3.4;

  /* Blockquote variables */
  //--bq-line-height-min: 1.3;
  --bq-line-height: 1.5;
  --bq-font-size-min: 2.7;
  --bq-font-size-max: 5;


  // ################################################################
  //    SHADOWS
  // ################################################################
  --default-box-shadow: none;
  --default-text-shadow: none;


  // ################################################################
  //    STATES
  // ################################################################
  --selection-color: var(--color-white);
  --selection-background-color: var(--color-pantone);
  --placeholder-color: var(--color-black);



  // ################################################################
  //    GLOBALS
  // ################################################################
  --global-radius: 4px;


  // ################################################################
  //    SECTIONING
  // ################################################################
  --sectionMaxWidth: 1024px;



  // ################################################################
  //    TYPOGRAPHY SCALE & FONTS
  // ################################################################
  --baseline: 1.5;

  --body-font-weight: 400;
  --heading-font-weight: 700;
  --kerning: normal; // auto (default), normal (enabled), none (disabled)
  --body-font-color: var(--color-primary);
  //$body-font-letter-spacing: normal;

  // Fonts
  --variable-font-family: 'Inter var', Helvetica, Roboto, Arial, sans-serif;
  --variable-heading-font-family: 'Playfair Display', serif;
  --body-font-family: 'Neue Haas Grotesk', Helvetica, Roboto, Arial, sans-serif;
  --heading-font-family: 'BonVivantSerifBold', serif;

}

